[2021-06-10 12:37] w4kpm opened #349 "We need a better way to display a task that is 'waiting' on a timed or message event"
#346 has an example of what this looks like, so the timer event will fire, but if you go into the task while it is still legitimately waiting, it is a confusing experienece.

This should be a fairly simple UI change

[2021-06-10 13:44] danfunk opened #350 "This is not really a thing."

[2021-06-10 13:44] danfunk opened #351 "This is a thing."

[2021-06-10 13:45] #351 closed, assigned to nobody

[2021-06-10 13:45] #350 closed, assigned to nobody

[2021-06-10 17:07] calexh-sar commented on #261
Did not see any signs of documentation related to the deprecated Protocol endpont.

[2021-06-10 17:08] #261 closed, assigned to cullerton

[2021-06-10 17:23] calexh-sar commented on #230
@cullerton (hope your feeling better) I put this code, `main_dash = get_dashboard_url()`, in a script and this was returned in the task data:
[code]
The extra `https://` keeps it from working.

And correct to assume that once this is fixed `https://testing.crconnect.uvadcos.io' will always redirect to `https://testing.crconnect.uvadcos.io/app/home`?

[2021-06-10 17:48] calexh-sar commented on #336
Working as designed

[2021-06-10 17:48] #336 closed, assigned to nobody

[2021-06-10 19:05] calexh-sar commented on #337
@w4kpm or @danfunk is this basically the backend implementation of the doc_code property?  Should this also be listed in our Scripts documentation so it can be used elsewhere, if needed?

[2021-06-10 19:25] calexh-sar commented on #340
Working as designed

[2021-06-10 19:25] #340 closed, assigned to w4kpm

[2021-06-10 20:09] calexh-sar opened #352 "Possible false positive when running shield test on irb_api_personnel workflow"
When running the shield test on the irb_api_personnel workflow, this error is thrown...
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/21e2c75c-8329-4f99-8a4d-650c552992f9)

...and Sentry captures [WorkflowTaskException](https://sentry.io/organizations/sartography/issues/2416824827/?project=5260915&referrer=slack) and [AttributeError](https://sentry.io/organizations/sar

[2021-06-11 01:22] calexh-sar commented on #325
Working as designed.

[2021-06-11 01:22] #325 closed, assigned to w4kpm, cullerton

[2021-06-11 01:26] #344 closed, assigned to cullerton

[2021-06-11 01:26] calexh-sar commented on #344
Error no longer thrown.

[2021-06-11 01:45] calexh-sar commented on #339
Working as designed.

[2021-06-11 01:45] #339 closed, assigned to nobody

[2021-06-11 03:01] calexh-sar opened #353 "Jinja Indent filter not working"
In the End Event of the pb_api_personnel workflow `{{ pi.experience | indent(4) }}` does not result in an indent.

[2021-06-11 12:06] calexh-sar commented on #331
@cullerton or @w4kpm am I correct that the release of ticket #323 fixes this isssue?

[2021-06-11 12:15] cullerton commented on #331
Yes

[2021-06-11 12:16] cullerton commented on #331
@calexh-sar Yes

[2021-06-11 12:27] calexh-sar commented on #331
Fixed by ticket #323

[2021-06-11 12:27] #331 closed, assigned to nobody

[2021-06-11 12:31] #278 closed, assigned to nobody

[2021-06-11 12:31] calexh-sar commented on #278
No longer valid.

[2021-06-11 12:42] cullerton commented on #230
I believe this is a server config issue.
The environment variable should only be host:port.
The host part should not include https:

Need to check on Mesosphere

[2021-06-11 14:34] cullerton commented on #230
@calexh-sar Ready for testing again.

[2021-06-11 15:22] calexh-sar commented on #312
Still getting
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/e37b8778-b826-4f1e-af4e-e67e82b9461e)

[2021-06-11 15:24] calexh-sar commented on #342
Mike has done backend work, frontend work in BPMN Editor still pending

[2021-06-11 16:32] cullerton commented on #334
This is happening in Python's JSON module.

The encoder is only for data models.
We might be able to write our own encoder/decoder

    ``.default()`` method to serialize additional types), specify it with
    the ``cls`` kwarg; otherwise ``JSONEncoder`` is used.

For now, probably best to use the solution of deleting the function at end of script.

[2021-06-11 17:53] cullerton commented on #347
Clarification:

Are we actually starting the workflow and sending the user there, or are we just resetting the workflow so there are no completed tasks?

[2021-06-11 18:23] calexh-sar commented on #347
@cullerton we are just restarting the workflow, they will manually navigate to it.

And good question for data and files.  I anticipate that we will not want to clear/delete either, but if not a lot of extra work and we can have those as parameters that default to False if not indicated otherwise, that would be nice.  If significantly more work, leave the parameters out and we can add it later if

[2021-06-11 18:51] cullerton commented on #353
@calexh-sar
It turns out this is because the string doesn't have multiple lines. It's just one big long string.
There's no new line to indent.

I'm not sure of a solution yet, but looking deeper into Jinja2 docs.

[2021-06-14 13:14] #343 closed, assigned to nobody

[2021-06-14 13:14] w4kpm commented on #343
No change in unit tests before / after - I can't think of any other way to test

[2021-06-14 15:46] cullerton commented on #334
Some more information. We can post scrum tomorrow.

SpiffWorkflow passes serialization to Python in `SpiffWorkflow.serializer.json.dumps`. line 73

`
    return json.dumps(dct, sort_keys=True, default=default)
`

At this point, the script is a string

`type(dct['task_specs']['Activity_RunScript']['script'])`
<class 'str'>

`'# value = tutorial_orig()

def add_two(x):
    return x + 2

value = add_

[2021-06-15 14:12] ajski opened #354 "Metrics"
Core story:

SOM CTO requires the ability to access metrics based on **time elapsed** between tasks/events/statuses in CRConnect 2 so that we can identify sticking points in the workflow and address them to continually improve processes.

Basic needs:

- time stamps on tasks/events/statuses

- number of unique users who have started a study

- number of studies started/initiated in CRConnect

^ th

[2021-06-15 14:29] ajski commented on #354
Outstanding questions to be hammered out:

- How does Lori and team plan to access metrics? Via a Metrics Dashboard, via SQL? Would scheduled auto-generated reports work?

- Do they need reports to run automatically on periodic basis (weekly, monthly)?

- We will probably not support the live monitoring for errors, stuck emails, etc. that Robert added (Lydia mostly uses this) as this was added to

[2021-06-15 17:20] cullerton commented on #334
More info after snooping w/Dan.

`SpiffWorkflow.serializer.json.dumps` line 73 is not the problem.

`SpiffWorkflow.serializer.dict.serialize_task` line 856 is where to look.

[2021-06-16 15:35] calexh-sar opened #355 "One to many PB coversheet docs"
Currently each PB coversheet document can be assigned to one and only one irb_documents.xlsx  code.  With the recent update of PB coversheet docs, there are cases where one PB coversheet doc needs to be assigned to multiple irb_documents.xlsx  codes, such as:
- Age of Majority Cover Letter and Consent
  - The consent form itself is under Consent/ Age of Majority: Consent_AgeofMajority
  - The Cove

[2021-06-16 15:42] calexh-sar opened #356 "Repeating Study Menu Entries"
The Study menu started repeating entries a week or two ago.  No set pattern of why and when has been noted, but it seems to be triggered while in the study itself and running and/or restarting the workflow.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/5fdc2109-d047-4b86-ac09-e023d51dcc2a)

[2021-06-16 18:06] cullerton commented on #353
@calexh-sar I'm thinking we should close this ticket. Yes/No?

[2021-06-16 18:14] calexh-sar commented on #353
@cullerton if you were not able to come up with a solution by "looking deeper into Jinja2 docs", or prefer that I do that, then yes.

[2021-06-16 18:23] cullerton commented on #330
OK to close.
All tests pass.

[2021-06-16 18:23] #330 closed, assigned to cullerton

[2021-06-16 18:26] cullerton commented on #187
This can be closed.
We handle this in crc.api.common.

@app.errorhandler(InternalServerError)
def handle_internal_server_error(e):
    ...

[2021-06-16 18:26] #187 closed, assigned to cullerton

[2021-06-16 19:24] cullerton commented on #301
We can close this ticket.
We added the service crc.service.workflow_service.get_primary_workflow(workflow_spec_id)
Passes test tests/workflow/test_workflow_service.test_get_primary_workflow()

[2021-06-16 19:24] #301 closed, assigned to cullerton

[2021-06-16 19:28] cullerton commented on #175
We can close this ticket.
We added a whole class of tests for this.
tests/workflow/test_workflow_boolean_default.py

[2021-06-16 19:28] #175 closed, assigned to cullerton

[2021-06-16 19:35] cullerton commented on #191
We can close this ticket.
Changes in crc.models.study.Study.from_model
Passes test in tests/study/test_get_study_from_model.py

[2021-06-16 19:35] #191 closed, assigned to cullerton

[2021-06-16 19:36] cullerton commented on #234
We can close this ticket.
We removed unused code.
All tests pass.

[2021-06-16 19:36] #234 closed, assigned to cullerton

[2021-06-17 12:51] cullerton commented on #352
We should return to this ticket when we can load a specific study.

[2021-06-17 15:36] calexh-sar commented on #247
[https://app.zenhub.com/files/223421082/50456998-226d-49a5-a3f4-ab54efbba93d/download](https://app.zenhub.com/files/223421082/50456998-226d-49a5-a3f4-ab54efbba93d/download)

[2021-06-22 17:22] calexh-sar opened #357 "Downloading BPMN file flips Save Switch"

[2021-06-22 19:03] calexh-sar opened #358 "Ability to Determine Which Instance Running On"
For approvals, the list of Approvers to use on production is different than what is desired on Testing.

[2021-06-23 14:45] calexh-sar commented on #332
Working as designed

[2021-06-23 14:45] #332 closed, assigned to cullerton

[2021-06-24 13:04] w4kpm commented on #335
Need to verify - I think this got fixed with #341

[2021-06-24 15:48] cullerton commented on #313
I spent some time looking at SpiffWorkflow and SpiffExample documentation.

In general, I believe we are in a good position to move forward.

After we talk with knipknap and decide what to do about the SpiffWorkflow library, I will likely go back and make some changes.

Current ideas revolve around branding and organizing the pieces/parts into a clear structure. I.e., reference, narrative, tutoria

[2021-06-24 15:54] cullerton commented on #355
I screwed up and added the code for this ticket to the branch for the [Post Submission States/Events](https://app.zenhub.com/workspaces/cr-connect-5f0613d95578fa0026063103/issues/sartography/cr-connect/247) ticket.

Waiting on confirmation about whether to create new branch or leave PR the way it is.

[2021-06-24 16:55] cullerton opened #359 "Update PB Mock tests to take advantage of Postgres"
We recently changed the test DB for PB mock to Postgres. This should allow us to add some unreleased tests that failed under SQLite.

[2021-06-24 17:32] calexh-sar opened #360 "Help icon hides Date Picker"
A form field with Type set to `date` has a date picker icon on the right side of the filed that brings up a calendar when clicked:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/f0bfafb4-c0f4-47bd-9752-1af491a0e7c2)

If the `help` Property is added to the Form Field, its information icon hides the date picker:

![image.png](https://images.zenhubusercontent.com/5f0623d8

[2021-06-24 18:53] cullerton commented on #312
Spent some time looking into an idea Alex had about infinite loops in User tasks and Manual tasks.
But, we still need to execute something in the code instead of the infinite loop error, or else Python will.

In this workflow, there is no thing to execute.

[2021-06-25 01:56] calexh-sar opened #361 "Document Icon Count Not Correct"
While working on the Drug/Device Documents workflow I noticed that the Icon count was 2 and the number of uploaded documents was 7

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/77a6d2a7-5047-43e9-99c8-d1f7406821f6)

In a 07/14 post-scrum discussion it was determined that the 2 value was the number of document categories in which documents had been uploaded.  The decis

[2021-06-25 01:57] calexh-sar commented on #361
@w4kpm this might be a good ticket for you to look at since you worked on the document pane.

[2021-06-25 02:15] calexh-sar opened #362 "Save Button not disabled in Repeating Sections if Form Field Type is required"
In repeating sections, the Save button should be disabled until all required fields have valid inputs.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/dd3b5d6b-b2f8-4f9d-abbc-a106166ad9fe)

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/3bc6dcd7-23dd-417d-a90e-7bef5c512554)

[2021-06-25 12:48] #335 closed, assigned to w4kpm

[2021-06-25 20:37] calexh-sar opened #363 "delete_file() seems to not fully deleted"
In the Drug/Device workflow I have the following code to check if one or both of the previously required document categories is no longer required and any previously uploaded documents need to be deleted:
[code]
The steps to reproduce are:
- Initially set both document categories as required in PB Mock
- Run the workflow and add one or more Investigator Brochure documents.
- Return to PB Mock and

[2021-06-28 14:43] calexh-sar opened #364 "Add Date option to Timer Definition Type"
To finish out the Timer Definition Types, add appropriate code so the Date option is functional.  This should allow the user to specify a date and time when the timer event should occur.

[2021-06-28 15:46] calexh-sar opened #365 "Show only Date for Version Date in Document Pane"
In the Document Pane, the Version Date is currently displayed as the entire Python datetime variable;
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/6e1af091-550d-4339-8b02-5620ca72870c)

In the End Event, we will be displaying only the date in mm-dd-yyyy format:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/e37d95ce-d07a-4194-8c28-a1eece5c4

[2021-06-29 15:02] w4kpm opened #366 "Call Activity/ SubWorkflow Work"

[2021-06-29 15:10] w4kpm opened #367 "Call Activity - Add separate 'library' category to the workflow categories"
Add a flag for a library so that the workflow type doesn't show up in the study & workflow area along with some UI elements that indicate it is a special type (i.e. a library icon or something)

Adding a workflow spec into this automatically indicates that it is a library

A library may have different components - each of which are workflow specs in their own right.

[2021-06-29 15:14] w4kpm opened #368 "Allow a library component to be 'imported' into a normal workflow spec"
add a new record type to a workflow spec that will import a library component (another workflow spec from a library type) into the current workflow spec.

cr_connect workflow should just import all additional items in the referenced workflow spec into the current workspace.

This will allow us to reference an external/ shared BPMN or DMN  that lives in the library area from within a workflow spec

[2021-06-29 15:18] w4kpm opened #369 "UI Changes to 'import' an external library component"
Add something to the modeler tool to be able to import one of our libraries into the current workspace.

this may need to be broken into multiple tickets:

1) add api endpoints to cr_connect_workflow to expose the library groups and the components
2) update the modeler to display these and then add the 'import' record into the current worflow spec.

This implies that the bpmn has been saved and we

[2021-06-29 15:21] w4kpm opened #370 "UI Changes to 'Call Activty' object so that you can reference a library item or a component from the local workflow spec"
When we add a workflow activity - we currently have to specify that it is BPMN or DMN and then we have to specify the ID of that item

We need to be able to change that so that you have a nice dropdown of all Other BPMN/DMN files that are accessible either in the local workflow spec, or any library components that are imported into the current workflow spec. Inserting the ID and the type should co

[2021-06-29 15:27] w4kpm opened #371 "UI Changes to make distinction between 'CallActvity' and 'SubProcess'"
Both 'Call Activities' (external to the current workflow spec) and 'SubProcesses' (In the current workflow spec but not in the current BPMN file ) are handled through the BPMN 'Call Activity' task type  -  and 'Expanded SubProcesses' (Subprocesses that live inside the current BPMN) file are treated as 'SubProcesses' in Spiff

This is fairly confusing, and we'd like the ability to have CallActiviti

[2021-06-29 19:24] calexh-sar opened #372 "Required Repeating Section"
Need a way to specify that completion of at least one Repeating Section is required.  The Form Save button should be Inactive until at least one Repeating Section has been saved.  This is needed in the case of required document which allows for multiple documents of that type to be uploaded.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/06ca59e1-8476-4c63-8bbc-a28b59e

[2021-06-30 13:16] w4kpm commented on #364
This already worked.

[2021-06-30 13:28] #265 closed, assigned to w4kpm

[2021-06-30 13:38] calexh-sar commented on #364
@w4kpm how us the Timer Definition defined for Date?
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/42cf4af0-9769-417d-9597-c7ad52a68dc6)

[2021-06-30 13:43] w4kpm commented on #364
Any datetime object will work

datetime.datetime.strptime('2020-10-29','%Y-%m-%d')

or datetime.datetime.now() + timedelta(days=5)

for example

[2021-06-30 17:51] #308 closed, assigned to danfunk

[2021-06-30 17:51] danfunk commented on #308
I feel certain this is addressed, and I've checked this on multiple occasions lately.

[2021-06-30 19:01] danfunk commented on #363
Just some extra details on this -

If you delete a file that was uploaded as a part of a workflow, then you delete that file through some other mechanism (ie not just by returning to the form and deleting it, then submitting the form), then you will get an error when the form, looking at the previously submitted data, tries to load up additional metadata about the file it knows was submitted.
Clea

[2021-06-30 19:04] danfunk commented on #13
This is satisfied, through we need to get the production servers back online and ready with direct connections and good exports.  I'll be filing new tickets for these tasks.

[2021-06-30 19:04] #13 closed, assigned to nobody

[2021-06-30 19:11] danfunk commented on #235
These are happening with the modifications Nile is making to the BPMN editor and are addressed in other tickets and in better ways.

[2021-06-30 19:11] #235 closed, assigned to nobody

[2021-06-30 20:03] calexh-sar opened #373 "Reference Doc "Check Out" OR New way to handle reference files"
WIP

Recently Lydia and I were both working on documents and ended up stepping on changes we were each making in the irb_documents.xlsl reference file.

Option for download locally only.

File dates in ticket #???

----

We only ever created 2 reference files - one for documents, and another for investigators.  I wonder if we couldn't put these into libraries, and remove them from the code.  And i

[2021-06-30 20:10] danfunk commented on #159
no longer valid.

[2021-06-30 20:10] #159 closed, assigned to nobody

[2021-06-30 20:11] danfunk commented on #15
We should re-think multi-instance yet agian, and open a new ticket for how it should work in multiple cases.

[2021-06-30 20:11] #15 closed, assigned to w4kpm

[2021-06-30 20:13] danfunk commented on #28
all complete.

[2021-06-30 20:13] #28 closed, assigned to nobody

[2021-06-30 20:14] danfunk commented on #76
We've reworked the hell out of nav, no longer applicable.

[2021-06-30 20:14] #76 closed, assigned to nobody

[2021-06-30 20:15] danfunk commented on #63
Confirmed as still an issue, July 2021

[2021-06-30 20:17] danfunk commented on #27
Closing as too iced for the icebox.

[2021-06-30 20:17] #27 closed, assigned to nobody

[2021-06-30 20:18] danfunk commented on #38
too icy for the icebox.

[2021-06-30 20:18] #38 closed, assigned to nobody

[2021-06-30 20:21] #36 closed, assigned to nobody

[2021-06-30 20:21] danfunk commented on #36
We have backend endpoints to handle this, but we need to do a pull, not a push.  So this ticket is far off base.  Will be creating a new ticket to cover this.

[2021-06-30 20:23] danfunk commented on #75
This will be addressed as a part of the libraries/call activity/sub-process work we are undertaking presently.

[2021-06-30 20:23] #75 closed, assigned to nobody

[2021-06-30 20:31] danfunk commented on #170
This is still an issue,  when you try to reorder items now, it will close the workflow category, which is super disorienting.

[2021-06-30 20:34] danfunk commented on #198
This has become a meme, turns out Null's a useful.  I wish they were not.

[2021-06-30 20:34] #198 closed, assigned to nobody

[2021-06-30 20:36] danfunk commented on #179
closing per Kelly's comment. And I also verified that total_tasks no longer exists anywhere anyway.

[2021-06-30 20:36] #179 closed, assigned to nobody

[2021-06-30 20:37] danfunk commented on #130
Will be taken care of as a part of our shared libraries effort.

[2021-06-30 20:37] #130 closed, assigned to nobody

[2021-06-30 20:54] danfunk commented on #73
outdated.

[2021-06-30 20:54] #73 closed, assigned to danfunk

[2021-06-30 20:55] danfunk commented on #92
outdated.

[2021-06-30 20:55] #92 closed, assigned to w4kpm

[2021-06-30 21:07] #258 closed, assigned to cullerton

[2021-06-30 21:08] danfunk commented on #282
this is a part of our shared libraries effort.

[2021-06-30 21:08] #282 closed, assigned to nobody

[2021-06-30 21:14] #80 closed, assigned to nobody

[2021-06-30 21:14] #84 closed, assigned to nobody

[2021-06-30 21:16] #93 closed, assigned to nobody

[2021-07-01 13:40] #359 closed, assigned to cullerton

[2021-07-01 14:02] calexh-sar opened #374 "Restrict Study Load in Main Dashboard based on Review Type"
The current CRConnect is only used for studies which have the the following IRB Review Types:
- Full Committee
- Expedited
- Non-UVA IRB Full Board
- Non-UVA IRB Expedited

While choosing which studies to load is a manual task in CRC1, it is automated in CRC2.  The work in this ticket is centered around this automation.  Currently CRC2 loads all studies associated with the current user found in PB

[2021-07-01 16:31] cullerton commented on #355
This was pushed with the code for [Post Submission States/Events](https://app.zenhub.com/workspaces/cr-connect-5f0613d95578fa0026063103/issues/sartography/cr-connect/247).

[2021-07-01 16:45] cullerton commented on #249
@calexh-sar
I just checked. This is still an issue.
It's probably not a priority since you have the categories set up.
It'll definitely show up though.
Should probably assign back to Dan.

[2021-07-02 01:49] calexh-sar commented on #253
Working as designed.

[2021-07-02 01:49] #253 closed, assigned to cullerton

[2021-07-02 01:59] #355 closed, assigned to cullerton

[2021-07-02 02:00] calexh-sar commented on #356
Fixed.

[2021-07-02 02:00] #356 closed, assigned to danfunk

[2021-07-02 02:39] calexh-sar opened #375 "file_data does not work with enums"
If you add the file_data Property to an enum field, a 500 error is thrown.

[2021-07-02 03:06] calexh-sar commented on #62
@NWalker4483 I am checking tickets in Ready for Release per discussion with Dan in which he said that there is noting pending for him to release and code for all tickets should be available in testing.

If this is indeed the case, this issue is still not fixed.

[2021-07-02 03:15] calexh-sar commented on #246
@NWalker4483 would you please either point me to where I can find information about the methods to call the new endpoint created display all the users associated with a study.

Also, a reference to the PI remains on the Study page and should be removed per Dan's earlier comment.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/38b13604-ee25-44b5-b455-bdb43eaf6585)

[2021-07-02 03:21] calexh-sar commented on #114
@NWalker4483 I am checking tickets in Ready for Release per discussion with Dan in which he said that there is noting pending for him to release and code for all tickets should be available in testing.

If this is indeed the case, this issue is still not fixed.

[2021-07-02 03:22] calexh-sar commented on #127
Working as designed.

[2021-07-02 03:22] #127 closed, assigned to NWalker4483

[2021-07-02 03:24] calexh-sar commented on #281
Working as designed.

[2021-07-02 03:24] #281 closed, assigned to NWalker4483

[2021-07-02 03:27] calexh-sar commented on #236
Fixed by using footnotes approach.

[2021-07-02 03:27] #236 closed, assigned to NWalker4483

[2021-07-02 03:29] calexh-sar commented on #240
Done

[2021-07-02 03:29] #240 closed, assigned to cullerton

[2021-07-02 03:30] calexh-sar commented on #271
Working as designed.

[2021-07-02 03:30] #271 closed, assigned to cullerton

[2021-07-02 03:39] calexh-sar commented on #345
@danfunk I ran the Dept Chair workflow again and the reminder email hanging off the timer event was not sent.

[2021-07-02 03:49] calexh-sar commented on #273
@cullerton would you please provide information on the script task that I would use to  "emulate calling the IRB API Check Study endpoint for the active study which returns the key value pairs for :STATUS" and "DETAILS".

[2021-07-02 03:50] calexh-sar commented on #348
Working as designed.

[2021-07-02 03:50] #348 closed, assigned to nobody

[2021-07-02 04:05] calexh-sar commented on #334
Able to call methods, have to delete them at the end of the script.  Decision made to run with this.

[2021-07-02 04:05] #334 closed, assigned to danfunk, cullerton

[2021-07-02 04:10] calexh-sar commented on #272
@cullerton when I click both _Verify..._ buttons, i am redirected to a new page and see this:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/5d2dc7b8-27bf-4f12-b375-f9815af2f17f)

Same result with and without VPN on.

[2021-07-02 04:12] calexh-sar commented on #275
Working as designed.

[2021-07-02 04:12] #275 closed, assigned to cullerton

[2021-07-02 04:13] calexh-sar commented on #298
Done.

[2021-07-02 04:13] #298 closed, assigned to cullerton

[2021-07-02 04:14] calexh-sar commented on #347
@cullerton would provide or point me to where I can find information about the script to restart a workflow.

[2021-07-02 12:19] calexh-sar commented on #320
@danfunk has this one been released?

@w4kpm , if so, I used to Swagger to check the file data store for file 1342 and it returned:

[code]
I next added the following code to a script task, ran the shield test successfully and executed it without error:
[code]
After execution, the task data included:
[code]
I then reran the Swagger check for the file data store for file 1342 and it was unchanged.

[2021-07-02 12:21] calexh-sar commented on #346
@danfunk I ran the Dept Chair workflow again and the reminder email hanging off the timer event was not sent.

[2021-07-02 13:27] calexh-sar commented on #329
@cullerton don't know of a way I can test this one.  Would you pls either provide info on how I can or just close this ticket if you can confirm it has been released and working as designed.

[2021-07-02 13:32] calexh-sar commented on #217
Working as designed.

[2021-07-02 13:34] calexh-sar commented on #322
@danfunk not 100% sure what to test here, but am going to assume this has been fixed since I am not seeing any problems with single file uploads.

[2021-07-02 13:34] #322 closed, assigned to danfunk

[2021-07-02 13:35] calexh-sar commented on #328
@cullerton don't know of a way I can test this one. Would you pls either provide info on how I can or just close this ticket if you can confirm it has been released and working as designed.

[2021-07-02 13:36] calexh-sar commented on #204
@cullerton don't know of a way I can test this one. Would you pls either provide info on how I can or just close this ticket if you can confirm it has been released and working as designed.

[2021-07-02 13:37] calexh-sar commented on #306
Fixed.

[2021-07-02 13:37] #306 closed, assigned to nobody

[2021-07-02 13:37] calexh-sar commented on #277
Working as designed.

[2021-07-02 13:37] #277 closed, assigned to w4kpm

[2021-07-02 13:44] calexh-sar commented on #263
Closing this ticket since both Kelly and Dan did optimization work.  If any further optimization is needed as we continue to load up the Top Level Workflow we can open a new ticket.

[2021-07-02 13:44] #263 closed, assigned to w4kpm

[2021-07-02 13:46] calexh-sar commented on #232
Working as designed.

[2021-07-02 13:47] #232 closed, assigned to w4kpm

[2021-07-02 13:58] calexh-sar commented on #311
Closing this ticket without testing since the future of the Data Entry tab is uncertain at this time.  Will revisit if we decide to move forward with this feature.

[2021-07-02 13:58] #311 closed, assigned to w4kpm

[2021-07-02 13:59] calexh-sar commented on #317
Closing since I was not seeing this error last time I was using Call Activities.

[2021-07-02 13:59] #317 closed, assigned to w4kpm

[2021-07-02 14:01] calexh-sar commented on #327
@cullerton don't know of a way I can test this one. Would you pls either provide info on how I can or just close this ticket if you can confirm it has been released and working as designed.

[2021-07-02 15:10] cullerton commented on #327
@calexh-sar This is definitely difficult to test.
Maybe we ask about it in post scrum Tuesday.
Otherwise, I will close this ticket.

[2021-07-02 15:16] cullerton commented on #204
@calexh-sar I don't think we can test this yet.
I believe we are waiting on frontend code. (See my comment from Apr 23 ^^^)

What should we do with a ticket in this case?

[2021-07-02 15:16] calexh-sar opened #376 "Shield Test Pulling Data from Different Study"
When the back-end code for ticket #342 - Use PB Mock for Shield Test data, was release I thought Dan said he was pulling data from the "first Study in the Configurator's list".  This was my Study 17, which I use 99% of the time and everything seemed to be working fine.  Sometime in the last week or so I started getting random shield test errors like this in several workflows:

![image.png](https:/

[2021-07-02 15:17] cullerton commented on #328
We can close this ticket.
All changes are present.
All tests pass

[2021-07-02 15:17] #328 closed, assigned to cullerton

[2021-07-02 15:32] cullerton commented on #329
We can close this ticket.
Code is in dev branch.
Tests pass.

[2021-07-02 15:32] #329 closed, assigned to cullerton

[2021-07-02 15:35] cullerton commented on #347
@calexh-sar

Script is reset_workflow
Usage is reset_workflow(workflow_name='blah')

Where blah = the Workflow Specification Name

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/044f3310-10b5-4e8b-b391-4228c4398f52)

Which is `test_example` in the screenshot above.

[2021-07-02 15:40] calexh-sar commented on #327
@cullerton I put it on the post scrum agenda for Tuesday.

[2021-07-02 15:44] cullerton commented on #273
@calexh-sar I don't have a script for you. I missed that functionality.
I will add this to my in_progress and fix it.

[2021-07-02 16:18] cullerton commented on #272
@calexh-sar I will investigate

[2021-07-02 19:47] calexh-sar commented on #347
Working as designed.  Will discuss in post scrum about restarting the Top Level Workflow.

[2021-07-02 19:48] #347 closed, assigned to calexh-sar

[2021-07-02 19:58] calexh-sar commented on #268
@NWalker4483 I am seeing the date and time for the Workflow Spec files
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/932ad4e6-ad76-4abb-9c26-19c933176110)

but not the Reference files
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/caaf1652-ca8b-4fcb-89aa-c582ae0a22a8)

[2021-07-02 20:02] calexh-sar commented on #213
Working as designed.

[2021-07-02 20:02] #213 closed, assigned to danfunk

[2021-07-02 20:05] calexh-sar commented on #296
@w4kpm would you please assist me with how to test this (or remind me where it was broken and working now) or just close the ticket if you can confirm it has been released and working as designed.

[2021-07-02 20:06] calexh-sar commented on #227
@w4kpm would you please assist me with how to test this or just close the ticket if you can confirm it has been released and working as designed.

[2021-07-02 20:16] calexh-sar commented on #256
Working as designed.

[2021-07-02 20:16] #256 closed, assigned to cullerton

[2021-07-02 20:26] calexh-sar commented on #323
@cullerton when I click on Add new Workflow spec, the standalone checkbox still looks like this:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/a488a526-9551-4c0c-afb8-9894eb0e855c)

Is that what we ended up doing, starting with Null?  Or should it look like this:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/24f01002-f82a-4a59-8878-ace289

[2021-07-02 20:38] #230 closed, assigned to cullerton

[2021-07-02 20:38] calexh-sar commented on #230
Working as designed.

[2021-07-02 20:41] cullerton commented on #323
@calexh-sar
That is what angular/formly set it to with our settings.
It as required, and the default is the previous value.

[2021-07-02 20:41] calexh-sar commented on #345
@w4kpm what is the format that should be entered into the Timer Definition Field?

In Slack, Kelly replied: (3,timedelta(minutes=10))

[2021-07-02 20:42] cullerton commented on #323
@calexh-sar Maybe Alicia can figure out a way to set it to False if there is no previous value.
That would be cool.

[2021-07-06 13:33] #327 closed, assigned to w4kpm, cullerton

[2021-07-06 15:08] calexh-sar commented on #290
Updated Configurator's Guide per MIke's comment.

[2021-07-06 15:08] #290 closed, assigned to calexh-sar

[2021-07-06 15:51] w4kpm opened #377 "Make sure that a cycle timer is listed as 'Completed' when that cycle timer hits its run count limit"
An event with a cycle timer boundary event will just sit around and wait forever on an incomplete task

Also what happens with a timer event when we complete a task with a boundary event and that event hasn't fired yet, is it also completed?? if not, it should be.

[2021-07-06 17:33] calexh-sar commented on #342
@Leashys pls let me know when you have time to discuss this ticket

[2021-07-07 01:25] calexh-sar commented on #323
@Leashys would you please discuss this ticket with Mike and if you do think you would be able to "figure out a way to set it to False if there is no previous value", assign the ticket to yourself and get with me on priority.  If not, please let me know in here and I will discuss further with Dan and/or Aaron.

[2021-07-07 01:33] calexh-sar commented on #323
Alicia replied in Slack that she "basically did the #323 ticket but on DRIVE once before".  Assigning ticket to her and pulling it back into the Backlog so I can prioritize it with her other tickets.

[2021-07-07 01:50] calexh-sar commented on #321
@w4kpm is the work on this ticket reflected by the `"url":` entry in each file data dict show below in task data pulled from the application?

[code]

[2021-07-07 02:12] calexh-sar commented on #255
Working as designed.  Tested the following code where `test` is a string form field and it ran successfully and did not return any shield test errors:
[code]

[2021-07-07 02:12] #255 closed, assigned to calexh-sar

[2021-07-07 02:12] #251 closed, assigned to w4kpm

[2021-07-07 02:16] #59 closed, assigned to nobody

[2021-07-07 12:06] calexh-sar opened #378 "UI for Configurators to edit PB Mock Data"
WIP

- Review Types

[2021-07-07 12:08] calexh-sar commented on #376
Per 07/06 post scrum discussion, we are going to prioritize getting the frontend work done to complete this feature.

[2021-07-07 12:08] #376 closed, assigned to nobody

[2021-07-07 12:16] calexh-sar opened #379 "Script to zip documents to send to IRB"
Once specific statuses are reached, we need a way to zip the documents that need to be sent to the IRB, attach that file to an email and send.  Additionally, we need to modify the name of the file sent to the IRB with the Study ID and pre-determeined  keywords for each doc_code.  The uploaded name should not be changed. The statuses for zipping all files are:
- initial pre-review submission
- resu

[2021-07-07 12:58] calexh-sar commented on #354
Notes from 07/06 weekly meeting

- If possible, track the date/time of first time a study was presented to CRC2, even if it does not qualify as a CRC2 study
  - This will be used if it does later qualify as the metric "First created in PB to first qualify as CRC2 study"
  - The "first qualify as CRC2 study" datetime will be used as the equivalent to the "Workflow Creation Date" in the _Lori's Repo

[2021-07-07 13:58] calexh-sar opened #380 "Genericize Document Spreadsheet Name"
Change the name of the reference file irb_documents.xlsl to documents.xlsl and update a code references.

[2021-07-07 14:26] calexh-sar opened #381 "Remove and Prevent `Unnamed' entries in Document Spreadsheet"
Executing the study_info("documents") script always returns a series of `"Unnamed: nn": "",` entries which are of unknown origin.  Dan has speculated that entries in unused columns of the spreadsheet are the cause, but repeated attempts to assure that all unused columns are empty has not fixed the problem.  Determine the cause, remove these entries and if possible, add code that will either point

[2021-07-07 16:24] cullerton commented on #273
Script is check_study. It works for the current study.

[2021-07-07 16:50] calexh-sar opened #382 ""View as..." Enhancements"
Allow selection on the Main Dashboard page...
- by Coordinator
  - Study Coordinators only?
- by Study ID
  - Associates
      - Default to SC-I
  - Approvers

On the Study Dashboard page...
  - by admins
  - by associates with access
  - by approvers

[2021-07-07 17:00] calexh-sar commented on #273
@cullerton so when this is live would the correct way to use it be:

1. study_status = check_study
1. study_status = check_study()
1. something else

[2021-07-07 17:20] cullerton commented on #273
@calexh-sar Numero Two-O

[2021-07-07 19:59] calexh-sar opened #383 "Timestamp on files is UTC?"
I uploaded this file at 3:56p, showing as 7:56p.  Need to adjust for timezone?

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/d5efab11-b892-4724-9dfc-4c5e665c714e)

[2021-07-08 13:27] #321 closed, assigned to w4kpm

[2021-07-08 13:29] w4kpm commented on #296
We have a test in Spiff workflow to make sure that this works. I don't know off the top of my head the exact context of where we ran into this problem.

I will close this based on the merit of the test we added.

[2021-07-08 13:29] #296 closed, assigned to w4kpm

[2021-07-08 18:11] cullerton commented on #381
While destroying the testing database, it seems I 'fixed' this ticket.
We will wait for the problem to occur again so I can troubleshoot.
Icebox for now.

[2021-07-08 19:42] cullerton commented on #374
@calexh-sar
These are always paired up the same way, right?
I.e., 1 -> None, 2 -> Full Committee, etc.

If so, I'd like to merge these into 1 pulldown that shows both the id and the string.

1 None
2 Full Committee
3 Expedited
...
26 Non-UVA IRB-Exempt

[2021-07-08 19:47] calexh-sar commented on #374
Yes they are @cullerton .  Would I still be able to reference them individually in the code, i.e., In IRB Details, study_info("details"), REVIEW_TYPE and REVIEWTYPENAME?

[2021-07-08 20:04] cullerton commented on #374
@calexh-sar
Yes, I would still store them separately, but this way a configurator couldn't pick an incorrect pair.

[2021-07-08 20:11] cullerton commented on #374
@calexh-sar Before doing this, I should ask..

Is that what you mean by 'valid' above? The number and the string match up.

[2021-07-09 17:35] cullerton commented on #374
@calexh-sar I decided to move the idea for the single pulldown into a seperate ticket.
Currenty, the test is on REVIEW_TYPE.
So, if REVIEW_TYPE is 2, 3, 23, or 24 it is valid.

[2021-07-09 17:38] cullerton opened #384 "Create single pulldown for review type"
In PB Mock study info form, merge the 2 fields REVIEW_TYPE and REVIEWTYPENAME into one pulldown.
Still store them separately in the database
Still return them separately in the API

This is just a way to make it easier for the configurators.

[2021-07-09 20:06] Leashys commented on #372
alex - -I think there is already functionality for this if you add this constraint:

![Screenshot 2021-07-09 at 16-05-59 Research Ramp-Up Toolkit Configurator.png](https://images.zenhubusercontent.com/605376307bf33b5036eb360b/93faeb26-3727-4946-b866-1abc133ef5ca)

[2021-07-12 13:55] cullerton opened #385 "Fix server config so we cannot wipe the Testing/Production database with RESET_DB"

[2021-07-12 17:11] danfunk commented on #381
This was corrected in a recent update to the way we manage refernce documents, I now check for null and unnamed fields and remove them when parsing.

[2021-07-12 17:11] #381 closed, assigned to cullerton

[2021-07-12 19:11] calexh-sar commented on #342
@danfunk or @Leashys

What is the criteria fir which studies are available for selection?  In me Settings tab of my instance of the Configurator I see the currently selected Study #!7 and one other, Study #9 is available:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/ce72ccc7-b429-48fc-a5bf-e47bb609f7f3)

But in PB Mock and the App, I also have Study #3:

![image.png]

[2021-07-12 19:55] calexh-sar commented on #372
@Leashys I just confirmed that the repeat_required  constraint is available and working, i.e., the Save button is disabled.  The availability of this constraint was not documented in the Configurator User Guide.  I added it here.

Will write another ticket and assign to you to get the message related to it improved:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/200c34

[2021-07-12 20:01] calexh-sar commented on #372
Working as designed.

[2021-07-12 20:01] #372 closed, assigned to Leashys

[2021-07-12 20:11] calexh-sar opened #386 "Improved repeat_required message"
The current message shown on a required repeating section is:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/d2f92c57-6bea-4df5-99fb-fe91f4efc23e)

Improve the message to something like:\
-  If repeat_button_label is specified
  - Must add at least one <repeat_button_label Value>
-  If repeat_button_label is not specified
  - Must add at least one entry

[2021-07-12 20:16] calexh-sar commented on #372
@Leashys is the repeat_required Constraint static (only takes True or False as Config values) or dynamic (takes True, False or a valid Python expression)?

[2021-07-12 20:19] #310 closed, assigned to w4kpm

[2021-07-12 21:26] cullerton commented on #352
Also, it will be interesting to know what the returned error is, now that Dan added better messaging when we get script errors

[2021-07-13 00:15] calexh-sar commented on #352
I ran the shield test again against my Study #17 and received this error:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/caf80d18-0ab7-48b4-96b6-9edc3079e674)

The code up to line 5 is"
[code]

The workflow still completes successfully.  I placed a Manual Task before the Script Task that is throwing the error and the following is part of the task data:

[code]

[2021-07-13 02:20] calexh-sar commented on #342
Hmm, just went back to my Main Dashboard page and only have two studies listed In Progress now:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/d10e88b8-b6c6-4a23-807d-3eea9bfd0648)

[2021-07-13 03:35] calexh-sar opened #387 "label_expression with 🔒 in Property Value variable crashes app"
In the Drug/Device Documents' _Upload 🔒Investigator Brochure*_ User Task workflow I attempted to add a label_expression Property to the DrugDevDoc_InvestBrochure Form Field with the `InvestBrochure_label` variable.  This variable is set by the following code in the _Load Data_ Script Task and has an embedded 🔒 in the resulting string:
[code]
The task data shows this variable as:
[code]

No shield

[2021-07-13 17:49] calexh-sar commented on #342
Confirmed that the missing study was due to the recently implemented Review Type filter

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/b29bf7e3-acf7-4c4e-b1e7-81e9f8640c84)

Working as designed.

[2021-07-13 17:49] #342 closed, assigned to Leashys

[2021-07-13 18:08] calexh-sar commented on #247
Working as designed.

[2021-07-13 18:08] #247 closed, assigned to cullerton

[2021-07-13 18:14] calexh-sar commented on #273
Working as designed.

[2021-07-13 18:14] #273 closed, assigned to cullerton

[2021-07-13 18:38] calexh-sar commented on #374
Working as designed.

[2021-07-13 18:38] #374 closed, assigned to cullerton

[2021-07-13 18:40] calexh-sar commented on #380
Working as designed.

[2021-07-13 18:40] #380 closed, assigned to cullerton

[2021-07-13 18:42] calexh-sar commented on #323
Working as designed.

[2021-07-13 18:42] #323 closed, assigned to Leashys

[2021-07-14 14:15] calexh-sar commented on #315
Load time now acceptable.

[2021-07-14 14:15] #315 closed, assigned to cullerton

[2021-07-14 17:29] calexh-sar opened #388 "API Endpoints view and download for Support"
To assist Support with troubleshooting, add a page to the PB Mock which allows then to specify a study id or user computing id, if needed, and select an endpoint to run return data for, if available.  The data should be viewable on the page and have the option to download in csv format.

The endpoints to choose from are:

**By Study ID:**
- PB API [Investigators](https://hrpp.irb.virginia.edu/webs

[2021-07-15 15:38] calexh-sar opened #389 "Field description needs a bit more whitespace underneath"
When a Form Field has a description Property, the space between the description and the next element is too tight.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/9459213c-b0dc-4281-8a1b-0e1300d99a51)

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/9be3030a-2cac-4ef2-b73e-906aaec5e13e)

[2021-07-15 17:32] cullerton opened #390 "Revisit data store service"
While working on a file data_store issue, we decided to clean up the data store service, so that we have separate methods for file, user, and study.

This way the values passed to the service make more sense, and things are easier to read.
(We won't be passing in a bunch of Nones, needing to keep track of position)
Also, we should probably pass the key and value explicity, not as unnamed *args.

A

[2021-07-15 20:28] ajski commented on #354
Quick screengrab from the bottom of Lori's Report_5.14.21_abridged which you can also find here: https://drive.google.com/file/d/1lv6kVFpj74XAVGfv6QoKIzc3J_BBAOyj/view

![Screen Shot 2021-07-15 at 4.25.12 PM.png](https://images.zenhubusercontent.com/57a0a334e40e5714b16cd4f1/f7278898-7583-4cf5-88c9-9146632af9be)

It's unclear if this is what Research Leadership asked for specifically in this partic

[2021-07-19 14:32] danfunk opened #391 "Validation as Transaction (Spike)"
We should take a look at using a Database Transaction to handle validation of Workflows.
In this way we can roll back any changes to the database at the end of the validation to assure that no permanent changes are made to the database.

Other options we might consider checking into would be:

1. Improving the "Validate Only" aspect of scripts so they can handle the temporary storage and retrieval

[2021-07-19 14:33] danfunk opened #392 "Flask Migrations Die Silently"
When executing "flask db migrate" if there is an error, it says nothing at all, and does not raise any sort of visible exception.  This has nailed us repeatedly.  I suspect we need to update some libraries and get them back in sync.  But not sure.

[2021-07-19 14:36] danfunk opened #393 "Cleanup old BPMN files"
We should look at ways to clean up and remove outdated files from our Database.   Right now we hold on to old versions of the BPMN and DMN files forever.  But at the point where no active workflows are using the diagrams, they should get removed.

[2021-07-20 19:05] #313 closed, assigned to danfunk

[2021-07-20 19:05] #314 closed, assigned to w4kpm

[2021-07-21 14:38] cullerton commented on #363
@calexh-sar
The new script is delete_task_file_data.
You pass the task id now, instead of the irb code.

You can pass it with or without they keyword `task_id`.

delete_task_file_data('myTaskId') or
delete_task_file_data(task_id='myTaskId')

[2021-07-21 14:38] cullerton commented on #363
@calexh-sar

When this ticket is pushed, should we remove the delete_file script? Will it be used anywhere after this change?

[2021-07-21 14:46] calexh-sar commented on #363
@cullerton am I understanding correctly that if the delete_file() script were used anywhere, e.g., in the Top Lever Workflow, it would be problematic when returning to the workflow/task where it was originally uploaded?

[2021-07-21 15:38] cullerton commented on #363
@calexh-sar That is my belief. We didn't do anything to 'fix' the delete_file script.

[2021-07-21 15:52] calexh-sar commented on #363
Then yes, I think we should remove it.

[2021-07-21 18:52] cullerton opened #394 "LDAP Issues - lowercase ids, and better messaging"
We ran into a problem accessing the LDAP server that caused a waiting task that kept erroring.
It turns out that uppercase IDs fail, so we should lowercase all IDs before accessing the server.
Also, we need to gracefully return to the application when LDAP fails, rather than raising an API Error.

[2021-07-22 12:02] calexh-sar opened #395 "Populate DMN table from spreadsheet"
Filling out a large DMN table can be quite onerous in the current modeler.  Additionally, the source of information for these DMN tables often starts out in a spreadsheet.  For this reason, we should provide the capability to be able to create a DMN table from a spreadsheet.  A proposed template for this process which mirrors the basic layout in the Modeler is attached.  Additional requirements ar

[2021-07-22 13:59] w4kpm opened #396 "Replace 'libraries' and 'standalone' tags on workflow spec with a single 'workflowspectype' field"
We will need to change frontend (where you change the types - make that a dropdown)
libraries - to consolidate the fields
cr_connect_workflow - ​/workflow-specification  to allow a user to select only those specific types of workflowspecs

replace /workflow-specification​/standalone and /workflow-specification​/libraries with the previous - and all places that use these endpoints.

[2021-07-22 14:36] cullerton commented on #394
It turns out that upper case UIDs don't fail an LDAP lookup.
Postgres was failing when we tried to add a record to the LDAP table with capitalized UID when a record already existed with lower case UID.
(UVA returns data with UID all lowercase, even when we send a UID with caps.)
We now make sure UIDs are lower case before we work with them.

[2021-07-22 14:50] cullerton commented on #394
@calexh-sar For now, the script returns an empty dictionary when we don't get a record from LDAP.
This seems to work with your test script.
We can change that in the future if you need

[2021-07-22 15:21] calexh-sar commented on #394
Works for me!  Thx.

[2021-07-22 18:35] calexh-sar commented on #394
Working as designed.

[2021-07-22 18:35] #394 closed, assigned to cullerton

[2021-07-23 00:34] #384 closed, assigned to cullerton

[2021-07-23 00:50] calexh-sar opened #397 "Invalid Computing ID causing "list index out of range" error"
I have always had an invalid computing id, czn1z, in my Study #17 to assure the Load IRB Personnel Script Task in the Personnel workflow handles this situation appropriately.  I ran this workflow earlier today and all was well, but since today's release it is throwing a "list index out of range" [error](https://sentry.io/organizations/sartography/issues/2528928875/?project=5260915&referrer=slack).

[2021-07-23 00:51] calexh-sar commented on #397
@cullerton assigning this to you since you were just in the LDAP code.

[2021-07-23 12:01] calexh-sar commented on #397
I am going to bring this one up during post scrum this morning.  I had a couple of other similar errors while working in Personnel that makes me wonder if this is not a LDAP error and maybe something else.

[2021-07-23 16:37] NWalker4483 commented on #268
I think this ticket can be closed

![image.png](https://images.zenhubusercontent.com/600ae36fc5ce0836e9a11e4b/9168357c-b680-45a2-801a-acc19ebb2f87)

[2021-07-23 16:56] #268 closed, assigned to NWalker4483

[2021-07-23 16:56] calexh-sar commented on #268
Working as designed.

[2021-07-23 17:18] NWalker4483 commented on #246
@calexh-sar I think the bad information was referring to the``` primary_investigator_id ``` attribute from the ```Study``` angular interface that parts been pulled. The associates endpoint will be with the other study endpoints once it's merged. Its also accessible through the api services```getStudyAssociates(study_id: int) -> List[StudyAssociate]``` method.

![image.png](https://images.zenhubuse

[2021-07-26 12:48] calexh-sar commented on #333
Working as designed.

[2021-07-26 12:48] #333 closed, assigned to w4kpm

[2021-07-26 13:50] calexh-sar opened #398 "New Workflow Specification does not appear as optional in menu"
WIP

Added group_approval_example and it was not available in menu,

[2021-07-26 14:57] calexh-sar opened #399 "End Event of Call Activity getting called at end of main workflow"
In the Personnel workflow, adding the find_org.bpmn workflow in two Call Activities caused the find_org.bpmn End Event to be used at the end of the main workflow.

[2021-07-26 18:56] calexh-sar commented on #217
@cullerton just got this error again when deleting Mike's Test.  Second delete removed it.

[2021-07-27 17:13] cullerton commented on #363
We need to account for cases where multiple doc types could be uploaded in the same task, but we only want to delete one type of doc code.

[2021-07-28 14:34] cullerton commented on #352
These notes are from memory, so they may not be exact.

When looking at this ticket, we realized that some validations fail, because we don't actually modify the database during validation.

We had a lengthy post scrum about it.

One idea was to have a separate DB for validations.
Another was to use the real DB, but then back out the changes.

Dan said he would write a ticket for the second idea.

[2021-07-28 15:02] calexh-sar commented on #397
Closing this for now, the nav issue Dan fixed seemed to be the culprit instead of LDAP/

[2021-07-28 15:02] #397 closed, assigned to cullerton

[2021-07-28 16:15] calexh-sar opened #400 "Serialization error at end of workflow with Call Event"
'when running select_org which calls find_org as a Call Activity in the Test Example workflow specification under Core Info Category, I receive the following error after competing the workflow, returning to the Study Dashboard and then returning to the workflow:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/f2e961ba-20db-48ed-a581-b88553b7efe5)

In a Slack chat with K

[2021-07-28 17:34] cullerton commented on #217
I'm not sure why you got the error.
I just added a spec, then added a bpmn, and then deleted the spec.
The spec was deleted, and I was returned to the master spec

How did you try to delete it?
I clicked on the trash can icon next to the title in the workflow spec box.
(Above ID, Name, Description, and Standalone)

[2021-07-28 18:16] calexh-sar commented on #217
Yes, sounds like the same way I deleted it after removing the workflow that was in there:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/07655c2c-2c27-4c23-862a-393266648540)

Here is the [Integrity Error](https://sentry.io/organizations/sartography/issues/2501885356/?project=5260915&referrer=slack) and [Internal Error](https://sentry.io/organizations/sartography/issues

[2021-07-28 19:43] cullerton commented on #217
I snooped around a little, and notice that we delete files from a workflow spec before deleting the spec.
But, sometimes when trying to delete a file, we can't, so we mark it as archived.
I wonder if it is related

except IntegrityError as ie:
    # We can't delete the file or file data, because it is referenced elsewhere,
    # but we can at least mark it as deleted on the table.
    session.roll

[2021-07-28 19:59] calexh-sar opened #401 "Adding enum_type -> radio to causes error"
I am working in the Core Info workflow and added the Property enum_type -> radio to an enum field.  When running the workflow that field does not show up.  If I remove that Property, it does show up as a dropdown.  Looking in browser dev tools showed"

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/3227aa96-f3a1-4ed6-af2b-4cc25dd93746)

[2021-07-28 20:09] cullerton commented on #401
I replicated this issue locally, and saw this in the browser console.

ERROR TypeError: this.radioGroup._radios is undefined
    getSelected sartography-workflow-lib.js:2799
    RadioDataFieldComponent_Template sartography-workflow-lib.js:2822

[2021-07-28 20:45] calexh-sar commented on #375
Working as designed.

[2021-07-28 20:45] #375 closed, assigned to cullerton

[2021-07-28 20:47] calexh-sar commented on #346
Working as designed

[2021-07-28 20:47] #346 closed, assigned to danfunk

[2021-07-28 20:54] calexh-sar commented on #360
Working as designed

[2021-07-28 20:54] #360 closed, assigned to Leashys

[2021-07-28 20:56] calexh-sar commented on #386
Working as designed

[2021-07-28 20:56] #386 closed, assigned to Leashys

[2021-07-28 21:07] calexh-sar commented on #286
Working as designed

[2021-07-28 21:07] #286 closed, assigned to Leashys

[2021-07-29 12:58] calexh-sar commented on #226
Taken care of my date and uploader info added.

[2021-07-29 12:58] #226 closed, assigned to nobody

[2021-07-29 12:59] #357 closed, assigned to nobody

[2021-07-29 12:59] calexh-sar commented on #357
No longer seeing this behavior.

[2021-07-30 01:52] calexh-sar commented on #400
I am now receiving this error in the Core Info workflow before the End Event.  It is happening when the flow goes into section of the workflow where the Call Activity is used.

[2021-07-30 10:44] calexh-sar opened #402 "Change Back to Return to Study Dashboard"
Change the Back button shown in the upper when in a workflow to Return to Study Dashboard.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/84db19b6-2c52-4e34-a6c7-bcf813f70d8e)

[2021-07-30 11:41] calexh-sar commented on #345
Working as designed

[2021-07-30 11:41] #345 closed, assigned to w4kpm

[2021-07-30 11:42] calexh-sar commented on #399
Working as designed.

[2021-07-30 11:42] #399 closed, assigned to w4kpm

[2021-07-30 11:48] calexh-sar commented on #362
Working as designed.

[2021-07-30 11:48] #362 closed, assigned to Leashys

[2021-07-30 11:55] calexh-sar commented on #389
Working as designed

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/0cd769e2-a081-4726-8879-ee25a13dcc8d)

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/ba6ee1d2-b352-4f07-94b4-5c59f752094a)

[2021-07-30 11:55] #389 closed, assigned to Leashys

[2021-07-30 18:43] calexh-sar opened #403 "Confirmation prompt when deleting repeating section"
Currently, if you click the X in the upper right  corner of a previously entered repeating section it is deleted right away.  We should prompt to make sure that is the action they want to take.

[2021-07-31 03:09] calexh-sar opened #404 "Supporting repeating section properties no longer can be in any Form Field"
If I am remembering correctly, the `repeat_title` and `repeat_button_label` properties could be added to any Form Field.  Currently they must be added to the first Form Field.  If I am remembering correctly, and it will not take a major effort to return to the previous state, the user experience will be much better if they can be added to any Form Field.

If not, let me know so the documentation c

[2021-08-05 14:40] calexh-sar opened #405 "DMN validation and test cases"
Trisotech allows the user to validate DMN tables and save Test Cases to run against it later:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/46cd254a-4f49-4105-bd6c-4cff141488cd)

[2021-08-05 14:44] calexh-sar opened #406 "Inline if statement not working in value_expression"
in the Drug/Device Documents workflow I included `("X" if AsApplDrugDeviceDocType.value == None else drug_docs[AsApplDrugDeviceDocType.value].doczip)` in the `value_expression' of the DocZipTest.  It is passing the shield test but not returning a value.

[2021-08-05 14:48] calexh-sar opened #407 "Tabs to spaces in script tasks"
In an effort to minimize the "indentation inconsistency" error, convert tabs to spaces in all script tasks.

[2021-08-05 14:56] calexh-sar opened #408 "NoneType error in Study Docs"
When running the Study Documents workflow, if you do not add a _Survey and Questionnaire_ document in the _As Applicable_ workflow, a NoneType error is thrown and captured in [Sentry](https://sentry.io/organizations/sartography/issues/2549921270/?project=5260915&referrer=slack).

[2021-08-09 19:12] Leashys commented on #401
note - I believe this was fixed when we updated to Angular 12

[2021-08-09 19:39] cullerton commented on #388
@calexh-sar We can't do this currently with the way the real PB is set up.
We likely need the UVA folks to open up access to real PB from our servers on Mesosphere.
We need to do this anyway, to finalize how Production will work.
We can talk about this more in post-scrum.
(I only understand the issue at a high level. We will need Dan or Aaron for anything deeper than that)

[2021-08-10 13:56] w4kpm opened #409 "A workflow should not be allowed to be both 'standalone' and 'library'"
Currently, you are allowed to check both 'standalone' and 'library' on a workflow, but these should be mutually exclusive.

We may want to decide if this should be done only at the cr-connect-bpmn level, or try to have some kind of integrity check at cr-connect-workflow.

[2021-08-10 13:58] w4kpm opened #410 "In cr-connect-bpmn, move 'Included Libraries' under the files list"
In addition, we discussed that this should probably be collapseable, and collapsed by default, but show the libraries that are currently being used.

I may go and move the ordering of the libraries around, but will not do the collapse and showing used libraries by default.

[2021-08-10 14:00] w4kpm opened #411 "Add collapse of the list of libraries on the left hand side of cr-connect-bmpm, and collapse by default"
We have a list of libraries on the left hand side of cr-connect-bpmn - this allows us to go in and edit any libraries, but this could get long, and we don't want it to clutter up the screen, pushing the regular workflows down too far to be useful.

Add the ability to have this list collapsed by default, and perhaps move it to the bottom of the current workflow categories list.

[2021-08-10 14:02] w4kpm opened #412 "Don't allow the delete / demote of a library if it is being used"
Currently, the workflow spec has a list of 'parents' that is enabled for any library. If this list is >0, then it is being used, and we shouldn't allow delete, or demotion from being a library

It may be useful to provide a list of the places that it is being used, since it is available - this would aid in cleaning up if needed.

[2021-08-10 14:05] w4kpm opened #413 "If you have a workflow spec that is referencing a library, and you delete that spec, make sure the workflow_library table is cleaned up"
This should be enabled on the models to delete/cascade - I suppose that this should be on both sides of that table, but we should never allow delete of a library that is being used, so that side of it is a bit moot.

(i.e. if we delete a library that is being used, we should never just zap it, as it will cause errors with any workflow using that library)

Write a test to ensure that this gets done

[2021-08-10 20:09] NWalker4483 commented on #303
@calexh-sar Is this still an issue on you're end. I've been unable to reproduce the error mentioned

[2021-08-11 03:46] calexh-sar commented on #303
@NWalker4483 just tested and working correctly now.

[2021-08-11 03:46] #303 closed, assigned to NWalker4483

[2021-08-11 14:02] calexh-sar opened #414 "Script Edit Pop-out Width"
With the recent release, the width of the script edit box decreased.  It should be about twice as wide and if possible, adjustable.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/80972514-93c9-47c7-90f2-bc4b72fbcdc7)

[2021-08-11 14:08] calexh-sar opened #415 "Script list dropdown issue"
The Script list dropdown in the Script editing pop-out is transparent after about 7 entries.  Perhaps it should be opaque the entire way and/or scroll.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/eef924f0-15e0-40f6-8331-b3ce45924c88)

[2021-08-11 14:52] calexh-sar commented on #400
@w4kpm just ran through the Study workflow where this problem was occurring consistently before the last release and did not receive this error.  Not sure if this is due to me promoting one of the Call Activities in the workflow to the Library or not, but going to close the ticket for now and will reopen if it pops up again.

[2021-08-11 14:52] #400 closed, assigned to w4kpm

[2021-08-11 17:12] calexh-sar commented on #404
@Leashys I missed that the wiki said:
[code]

Since this seems like the way it has been from the beginning and not a regression (just a memory lapse on my part), I am going to close this ticket.

[2021-08-11 17:12] #404 closed, assigned to Leashys

[2021-08-12 18:49] calexh-sar opened #416 "Task w/Repeating Section Save button inactive after Start Over"
Something changed after the recent releases and if you _Start over_ a task that has a repeating section and there are already sections added, the Task Save button is not active.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/bdd920aa-782a-4fc7-8707-b08f728aaec2)

[2021-08-12 20:00] calexh-sar commented on #401
Working as designed.

[2021-08-12 20:00] #401 closed, assigned to Leashys

[2021-08-12 20:18] Leashys commented on #294
note - do you want an unchecked checkbox to show up in the data model as "whatever: false", or not show up in the data model at all? i(FWIW In formly, an unchecked checkbox will normally not exist in the resulting data model)

[2021-08-12 20:43] calexh-sar commented on #294
@Leashys unchecked box should show up as False when the Boolean property is set.

[2021-08-12 22:38] calexh-sar opened #417 "HRS Number on new PB Mock Study Issue"
If you create a new study in PB mock and add an HSR Number, it moves the Study to Open for Enrollment, instead of In Progress.

The concept of the HSR number has changed since we are going to a single Study Number and we should remove the HSR Number field and any functionality associated with it.

[2021-08-13 03:31] calexh-sar commented on #364
I tried using `datetime.datetime.now() + timedelta(days=1)` twice and it did  not work.  Trying `datetime.datetime.strptime('2021-8-14','%Y-%m-%d')` next.

[2021-08-13 12:42] cullerton commented on #417
@calexh-sar I am not seeing this behavior. Both on testing, and in local development.
I created a new study, gave it a `Title`, and entered my `User UVA Computing Id`, and then saved.
Then, I went to Edit Questions, and selected Review Type `2 Full Committee`.

It shows up in `In Progress`.

[2021-08-13 12:50] cullerton commented on #417
Looks like it's HSR Number.
If you enter something in HSR Number, it goes to Open Enrollment

[2021-08-13 13:42] cullerton opened #418 "Remove HSR Number field from the add/edit Study page in PB Mock"

[2021-08-13 13:44] cullerton commented on #418
![Screen Shot 2021-08-13 at 9.43.56 AM.png](https://images.zenhubusercontent.com/5fa55f08b2891e7cfdfd2ed0/73b87c85-d0f6-4003-8d56-3960b38528db)

[2021-08-13 16:45] Leashys commented on #294
Will have a PR up for this in a minute - for consistency sake, do you also want a possible boolean_type : radio, or just let radio be the default?

[2021-08-13 17:24] Leashys commented on #338
@calexh-sar  this one is finally finished for real

[2021-08-13 19:38] calexh-sar commented on #338
Working as designed.

[2021-08-13 19:38] #338 closed, assigned to Leashys

[2021-08-13 19:39] calexh-sar commented on #406
Working as designed.

[2021-08-13 19:39] #406 closed, assigned to Leashys

[2021-08-13 19:39] calexh-sar commented on #408
Fixed

[2021-08-13 19:39] #408 closed, assigned to cullerton

[2021-08-13 22:14] calexh-sar commented on #294
Per out Slack chat: "just let radio be the default?"

[2021-08-13 22:16] calexh-sar opened #419 "Change CR Connect to CRConnect in Configurator"
See Ticket #338 for reason.

[2021-08-14 02:24] calexh-sar opened #420 "Nav not starting with first parallel workflow"
For the _<IRB Type> Documents_ workflows in the _Document for IRB_ category, this with more than two parallel paths are sorted correctly based on their horizontal position, but the nav does not initially select the top flow path.
Drug/Device Documents starts with the second parallel flow path:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/c5969c75-22ab-428b-9be9-4d12e7

[2021-08-15 15:37] calexh-sar opened #421 "Set Sponsor Library workflow throwing error"
While attempting to run the Study Information workflow which utilizes the Set Sponsor workflow added to the Library, I am getting the error below when running the workflow and choosing options which result in reaching the _Select Entity Name From LDAP_ User Task in Set Sponsor, which are:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/22636de0-687d-4c7a-aa9f-0c6b767803f

[2021-08-15 18:09] calexh-sar commented on #421
I attempted to add Set Sponsor as as Call Activity in the IND workflow and received the same error:![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/496c1786-74b0-4de2-9cf5-8205e579c926)

[2021-08-15 20:56] calexh-sar commented on #364
datetime.datetime.strptime('2021-8-14','%Y-%m-%d') did not work as well.  Moving this ticket back in In Progress.

[2021-08-15 21:18] calexh-sar opened #422 "IND workflow value_expression not working"
Update: this is not limited to the IND workflow, see ticket #448

In the IND workflow the `IND2_HolderType` and `IND3_HolderType` Form Fields in the _Confirm IND Status User Task_ have `value_expression` Properties of `IND2_Holder_Type_Default` and `IND3_Holder_Type_Default`, respectively.  Each Form Field has the following enum Values:
 ![image.png](https://images.zenhubusercontent.com/5f0623d8a1

[2021-08-16 03:17] calexh-sar opened #423 "Library Workflow appearing in Study Dashboard"
The Set Sponsor Library workflow
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/984cd954-009b-4bf1-9893-150049893a9d)

is showing up as a workflow in the Core Information CategoryL
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/5876c5be-96fb-4b85-86a2-1af589228866)

[2021-08-16 14:06] w4kpm opened #424 "BPMN Date Trigger issues"
Alex ran across some interesting behavior for a BPMN Timer Catch Event (Date)

The relevant code is SpiffWorkflow bpmn/specs/event_definitions.py  has_fired  lines 238-264 (at time of writing)

The issue is two fold:

1) if you define the date as  datetime.datetime.now() + timedelta(minutes=1)

Then the event evaluates this each time, essentially kicking the can down the road each time - every tim

[2021-08-16 14:11] calexh-sar opened #425 "Timer events should be current browser time zone not UTC based"
When entering a timer event that requires specifying a date and time, the event is currently based on UTC time.  We need to adjust this based on Easter Time.  At a later time we can do the additional work of automatically adjust to the time zone the Configurator is working in and/or having it as a preference setting.

[2021-08-16 14:19] cullerton opened #426 "Remove HSRNUMBER from backend"
We removed HSRNUMBER from PB Mock.
We should remove it from the backend too.

[2021-08-16 15:33] calexh-sar commented on #422
Just found out a value_expression in the Study Information workflow is also not working, so not just isolated to IND workflow.

[2021-08-16 19:16] calexh-sar opened #427 "Additional IRB Events and Status"
On the IRB Info page, add the following Events and Status

Add to IRBInfoEvent dropdown:
- 2 - Pending Full Committee Review
- 300 - Approvable with Conditions-New Protocol

Add to IRBInfoStatus dropdown:
- 30 - In PreReview New Protocol

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/aa8cc448-78f9-4d46-b219-d218e1648d0b)

[2021-08-16 19:53] cullerton commented on #427
@calexh-sar Add these at the bottom of each list, or is there a specific order you need them?

[2021-08-16 20:04] cullerton commented on #427
When we return this info also return the codes in separate fields.

[2021-08-16 20:26] cullerton commented on #427
@calexh-sar The 2 new fields are IRBEVENT_ID and IRB_STATUS_ID

[2021-08-17 13:43] w4kpm commented on #411
Nile, I'll be in here soon for #410 - probably be best to combine tags.

[2021-08-17 17:51] Leashys commented on #419
Dan fixed it in mesosphere

[2021-08-17 17:51] #419 closed, assigned to Leashys

[2021-08-18 12:23] calexh-sar opened #428 "Error Message needs more info"
This error message would be more helpful if it showed the Form Field where the issue is occurring:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/71d36075-1c65-4228-85e2-cde075532a9b)

[2021-08-18 14:24] calexh-sar opened #429 "Configurator Script Task Editor disappeared"
No longer there when I click on a Script Task.  Seems like there was something else there as well, but don't remember what it was, maybe the minimap icon.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/611aa400-246d-4591-afa4-56b1ed86409c)

[2021-08-18 15:21] calexh-sar opened #430 "Email Enhancements"
Add _reply email_, _bcc_ and _attachments_ options to the current `email()` script.  The _attachments_ option needs to be able to attach a document or documents which were previously uploaded in other workflows to the email.

[2021-08-18 17:38] calexh-sar opened #431 "Indent error in Ancillary Documents"
In the Standard Radiation parallel flow section of the Ancillary Documents workflow...

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/fb484099-ceb2-447c-8794-991f67a290b7)

...the _Generate Document_ Script Task is throwing the following error:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/bd2fdf9d-0b73-4469-92d6-f69eaff57bfb)

The script

[2021-08-18 18:03] calexh-sar commented on #383
Working as designed

[2021-08-18 18:36] calexh-sar commented on #403
Closing this ticket, working  as designed, and opening another ticket to adjust the amount of whitespace in the confirmation dialog box:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/03f63fd8-bd04-41c6-b6c2-948f4a47a8b6)

[2021-08-18 18:36] #403 closed, assigned to Leashys

[2021-08-18 18:41] calexh-sar opened #432 "Dialog Box Whitespace"
A confirmation dialog box recently added to confirm deletion of a repeating section has an excessive amount of whitespace on the righthand side.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/57ae4754-84d7-4cae-83c3-d7f12da3254c)

This ticket is to address that, but also look if this is a systemic problem and similar confirmation or generic dialog boxes have the same p

[2021-08-18 18:48] cullerton commented on #430
@calexh-sar How will the documents be identified? By workflow_id and doc_code?

[2021-08-18 18:53] calexh-sar commented on #430
@cullerton if needed, we can specify both.  Since all documents of a doc_code type should be attached, will just specifying the code_code work?  Regardless, need to be able to specify multiple doc_codes, and their associated workflow, if needed.

[2021-08-18 19:12] cullerton commented on #430
@calexh-sar doc_code by itself won't be enough.
But, the study_id gets passed to a script. So, potentially, I could grab all the workflows for a study, and then get all files uploaded in those workflows that have the doc_code.
Would this work for you?

[2021-08-18 20:03] calexh-sar commented on #430
@cullerton that sounds reasonable

[2021-08-19 01:24] calexh-sar commented on #62
@NWalker4483 has the fix for this been released?  It currently seems to be working as designed.

[2021-08-19 15:35] Leashys opened #433 "Workflow specificiation menu form requires you to check and uncheck properties"
In the workflow specification menu, the 'library' and 'standalone' checkboxes must be interacted with in order to validate the form. That is not right. Also it is valid to save the form with both 'library' and 'standalone', but it is not valid, and you end up losing the spec on saving. basically the form within the menu needs a little work

[2021-08-20 11:42] calexh-sar opened #434 "Category closes when moving workflow spec in Configurator"
When moving a Workflow Specification up or down within the the Configurator, the Category closes with each move.  It should not close.  I believe this has been fixed at least one time before, but is back for some reason.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/e6b5d1c3-2e84-4016-8060-c14eb2eef700)

[2021-08-20 11:53] calexh-sar opened #435 "Workflow Specification Order Position"
After editing a Workflow Specification's information and saving, the Workflow Specification is placed/moved in the third order position.  It should remain in its original position.

Initially the Test Example Workflow Specification is at the bottom of the list:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/cb80d9a5-54da-40b9-9ac1-d680199d60ff)

When I edited its inform

[2021-08-20 12:36] NWalker4483 commented on #62
Yes, I think this ticket can be closed

[2021-08-20 12:55] calexh-sar commented on #62
Working as designed

[2021-08-20 12:55] #62 closed, assigned to NWalker4483

[2021-08-20 14:06] calexh-sar opened #436 "'list' object has no attribute 'value' error in Ancillary Documents Standard Radiation Language flow"
The _Generate Document_ script task in the Ancillary Documents Standard Radiation Language flow throws a 'list' object has no attribute 'value' error, resulting in a [WorkflowTaskExecException](https://sentry.io/organizations/sartography/issues/2499897667/?referrer=slack) in Sentry.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/11e87bd1-dede-4d73-99f9-998d25558d17)

T

[2021-08-25 14:09] calexh-sar opened #437 "Inline if not working in hide_expression"
`(True if isTrainingIVRS_IWRS_IXRS == None else not(isTrainingIVRS_IWRS_IXRS))` returns error that `isTrainingIVRS_IWRS_IXRS` has not been defined in a hide_expression.

We had problems with inline if statements in `value_expression` and fixed that, need to fix this to be consistent.

[2021-08-25 19:39] Leashys opened #438 "Standalone and Library should be 'states' of a workflow spec"
In the BPMN's workflow spec dialog (The popup menu when you create a new workflow spec), there is a checkbox for both standalone and library. We should reconsider this design. Theoretically, you can _either_ have 'standalone', 'library', _or_ neither. Currently, there is a lot of code in the backend, bpmn, and sartography libraries which has to stop and check that you only are in one of these stat

[2021-08-25 19:42] Leashys commented on #396
I just wrote a ticket #438 that goes hand in hand with this one :)

[2021-08-25 19:59] Leashys commented on #387
@calexh-sar I am 99% sure this was resolved with fixes dan rolled out last week

[2021-08-26 02:42] calexh-sar opened #439 "IND DMN table will not update"
The IND Check DMN table in the IND Workflow Specification will not open.  When attempting to open, I received these errors:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/ebcafb96-52df-4fec-a4e7-d53896612208)

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/655709f8-85ac-4bed-8573-a29fb0d4364c)

I downloaded the file, successfully opened it i

[2021-08-26 02:48] calexh-sar commented on #318
Working as designed.

[2021-08-26 02:48] #318 closed, assigned to Leashys

[2021-08-26 02:52] calexh-sar commented on #410
Working as designed

[2021-08-26 02:52] #410 closed, assigned to w4kpm

[2021-08-26 03:11] calexh-sar opened #440 "hide_expression not evaluating correctly"
I added the Hide Test workflow to the Test Example Workflow Specification and functions the same way:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/88acc50a-cd7e-4dc8-9c70-ae71a0517a0c)
and
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/c849e573-09f2-40ea-a5b6-ca35c301625e)

whether the Test2 Property is set to:
![image.png](https://images.z

[2021-08-26 03:26] calexh-sar commented on #114
@NWalker4483 the dynamic part of this is not working,
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/a2a43568-fa3d-44ac-8b4b-daac90e9622a)
works, but
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/ef40801d-8ecd-4361-9ed7-9876798919a5)
where
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/0601412e-045d-4d05-ab51-1a4e

[2021-08-26 11:15] calexh-sar opened #441 "Main Dashboard Updates and Fixes"
WIP

- In Progress section
  - Change the text In Progress to Approvals
  - Remove Approval and Data Entry Tabs
    - Approvals to remain, Data Entry will be depricated
  - Reduce height
    - Auto-expand and/or scroll
    - Collapse to just message if none
- Help Icon
  - Remove
- Notifications Icon
  - Remove

[2021-08-26 11:20] calexh-sar commented on #398
Determined this was due to the behavior that you need to return to the Main Dashboard first and then back to the Study Dashboard before it will show up.

[2021-08-26 11:20] #398 closed, assigned to nobody

[2021-08-26 12:11] calexh-sar opened #442 "PB Mock Details page updates"
Change the description for each variable back to what is returned by the [Study (Details) API](https://hrpp.irb.virginia.edu/webservices/crconnect/crconnect.cfc?method=Study&studyid=15370), e.g., `Is Ind:` to `IS_IND`.  The latter is the format used in scripts.

Add this description for the UVA_STUDY_TRACKING variable: Number provided to PB by CRC1 - HSRYY#### (YY = two digit year, #### sequential

[2021-08-26 14:39] calexh-sar commented on #387
@Leashys I am still seeing an issue with this on testing.  It no longer crashes the app, but when I added
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/8159896c-6732-417d-a062-0b8d39fb78d2)
with task data showing: `InvestBrochure_label": "🔒 Investigators Brochure"`
I get
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/3c77bcab-a43d-4b7e-9b3b-

[2021-08-26 14:42] calexh-sar commented on #114
@NWalker4483 since your availability is uncertain at this time, I am going to assign this ticket to @Leashys ,  She may be reaching out to you for some history updates.

[2021-08-26 14:51] calexh-sar commented on #433
@Leashys I just tried filling out the _Add new workflow specification_ form and after adding all the required fields the Save button was not active.  If I am understanding corrrectly that your fix should have done away with the necessity of clicking the Standalone and Library checkboxes, this may need your attemtion.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/5e1da

[2021-08-26 15:32] calexh-sar opened #443 "Property and Constraint Test"
Recently the `value_expression` and `hide_expression` Properties were not working properly after a release.  We need to discuss how to provide testing coverage for these and other Properties and Constraints which are widely used and critical to the proper functioning of the application.

[2021-08-26 16:26] Leashys commented on #435
After working on this with @cullerton , we found this is a more complicated issue. Currently, the BPMN frontend handles the display order re-sorting (in workflow-spec-list component). Every time you edit a workflow, BPMN makes several calls to the backend to try and re-sort the display order. This code should ideally be in the backend entirely.

This ticket should ideally be 'Remove display_order

[2021-08-26 16:31] cullerton opened #444 "New API endpoint for reordering Workflow Specs"
Create an API endpoint to facilitate reordering of Workflow Specs.
Something like
PUT
/workflow-specification/{spec_id}/reorder?direction=up
/workflow-specification/{spec_id}/reorder?direction=down

Should return a list of reordered specs with good display_orders

[2021-08-26 16:45] calexh-sar opened #445 "'Add new workflow specification' Description field should be default hover"
If a Workflow Specification is not in the Top Level Workflow, it shows up in the Study Dashboard menu as optional.  In these cases, what is entered into Workflow Specification Description field should be displayed as the default hover text.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/b88449b6-6a10-4759-8ede-3e24bcd55ca9)

[2021-08-26 16:46] cullerton commented on #444
Need to do this for categories too

[2021-08-26 16:59] cullerton commented on #444
Return a list sorted by display_order

[2021-08-26 17:28] cullerton commented on #272
We can't finish this until we work out a way with UVA to make calls to the real PB APIs.
Puttin in the iceboxz

[2021-08-26 17:29] cullerton commented on #388
Putting in the Icebox until we work with UVA to open up access

[2021-08-26 17:31] cullerton commented on #312
Moving to Icebox until we decide what to do with this ticket.

[2021-08-26 17:49] cullerton commented on #217
@calexh-sar Are you still seeing a problem when deleting workflow specs?
I just tried a couple tests on testing and had no issues.
- Created a spec and deleted right away
- Created a spec, reloaded the page and deleted
- Created a spec, added a bpmn file, save the bpmn, returned to configurator home, and deleted the spec

All worked

[2021-08-26 18:31] calexh-sar commented on #217
I don't think I have deleted a workflow spec since I got the last errors posted here on July 26.  Since you didn't have any problems in the test you ran, I will close this ticket and we can reopen or write a new one if it occurs again.

[2021-08-26 18:49] calexh-sar opened #446 "Repeating Section List Display issue"
In the Study Documents workflow _Upload As Applicable Non-UVA IRB Documents_ User Task, the entry for doc_code Pre-Screening Questions looks like this:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/82066eb1-d88f-45ad-95b0-9a02ae0aa466)

and the resulting list entry when I first entered that taks looked like this:
![image.png](https://images.zenhubusercontent.com/5f0623

[2021-08-27 11:09] calexh-sar commented on #421
Closing this ticket since I can no longer recreate after latest release.

[2021-08-27 11:13] calexh-sar opened #447 "Error validating workflow which use Library workflow Set Sponsor"
When attempting to validate the Study Information workflow, I receive the different errors shown below.  These all may be related to the issue raised in Ticket #447, but adding this ticket in case some/all of these are different.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/3b034134-30fc-4a55-932e-aacc6ca9432b)

![image.png](https://images.zenhubusercontent.com/5f062

[2021-08-27 11:16] calexh-sar commented on #421
Was able to recreate issue

[2021-08-27 11:33] calexh-sar opened #448 "value_expression not evaluating correctly"
This seems to be a regression and all value_expressions I have looked at are not working.

[2021-08-27 12:29] cullerton commented on #444
We also need to clean up display_order when deleting a spec or spec group, and make sure display_order is good when adding

[2021-08-27 13:38] calexh-sar commented on #5
Staying with currect UVA implemented app

[2021-08-27 13:38] #5 closed, assigned to danfunk

[2021-08-27 14:42] calexh-sar commented on #428
I updated all the .email and .access fields to be required and still getting this error.

[2021-08-27 14:48] calexh-sar commented on #428
Confirmed that the error message is:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/db6e609d-8662-4940-8e3d-0ffadf5709cd)

[2021-08-27 15:07] calexh-sar commented on #431
Closing this ticket, not able to reproduce at this time.

[2021-08-27 15:07] #431 closed, assigned to calexh-sar

[2021-08-27 17:10] calexh-sar opened #449 "Additional info in file id error message"
While checking out the new delete_task_data() script in the _Protocol, Application & Coversheet_ workflow, I received this error message:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/72c452d2-77d6-4979-92cb-09e42153e7d5)

It would be helpful if the file id that could not be found was returned.

Please also note that the task information is also not returned.  I am pr

[2021-08-27 17:27] calexh-sar opened #450 "is_file_uplpoaded() issue"
In the _Protocol, Application & Coversheet_ workfow, `is_file_uploaded()` is returning the error message below istead of a False if the file is not uploaded.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/3fc1e01b-60ea-4c89-85f9-f1053752f261)

[2021-08-30 15:13] w4kpm commented on #425
Added a new library that should allow us to do the right thing. It **will not** automatically reason about where the user is, but will easily allow the user to add a timezone to the expected time.

Use it like so :

dateparser.parse('September 10 2021 at 10:05am EDT')

Also, previously we had problems with using now()-timedelta(minutes=10) directly in the time definition in a time event, because e

[2021-08-31 15:06] cullerton commented on #444
I'm also changing the add/edit methods for specs and categories to keep them from changing display_order.
This way, display_order can only be changed throug the new API endpoints

[2021-08-31 17:22] cullerton commented on #450
I don't think this is happening in is_file_uploaded.
The string in the error message is only found in api.file
 - update_file_data
 - get_file_data
 - get_file_data_link
 - get_file_info

[2021-08-31 17:30] cullerton commented on #439
I don't think this error comes from the backend.
@danfunk Is it possible this is generated in Angular code?

[2021-08-31 17:51] Leashys commented on #353
@calexh-sar One way to address this problem in the bpmn is like so:
In the end event, change the experience section to:

&emsp;**Experience:**
&emsp;{{pi.experience|replace('\n', '\n&emsp;')}}

This is a pipe that replaces each new-line character with a newline PLUS an indent. The em-indent at the front is needed to indent the first line of the text.

Let me know if additional information is neede

[2021-08-31 18:00] cullerton commented on #440
@calexh-sar This might be because of the parenthesis. I removed them and it seems to be working.
If hide_expression is `Test1`, the field is hidden on Yes, and displayed on No
if hide_expression is `not Test1`, the field is displayed on Yes, and hidden on No

[2021-09-01 04:56] calexh-sar commented on #440
Here is what I am seeing:
if hide_expression is not Test1, the field is displayed on Yes, and hidden on No
If hide_expression is changed to Test1 and I click `Start over`, I still see the field is displayed on Yes, and hidden on No.
But if I then do a browser refresh, the field is hidden on Yes, and displayed on No.
And why are the parenthesis no longer working?  I have always used `not(boolean)`

[2021-09-01 05:12] calexh-sar commented on #353
@Leashys I tried
[code]
and got this:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/00843472-c361-400a-8cbc-564b3f33b633)

and this `&emsp;**Experience:** {{pi.experience|replace('\n', '\n ')}}` and got this:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/eef2480c-8929-475c-8c9e-6e2ef53cfc9d)

Is there something I am missing from your instru

[2021-09-01 05:25] calexh-sar commented on #450
@cullerton I removed all scripts but is_file_uploaded() from that flow.  If you haven't already, would you please try to run that workflow in testing locally with this document selected in PB Mock so UVA IRB HSR is not the IRB of record:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/c6be4656-5c7f-4673-822f-da7bc6c6721e)

And if you have, I don't have any ideas on how

[2021-09-01 12:27] cullerton commented on #440
@danfunk I'm giving you the expression tickets

[2021-09-01 12:30] w4kpm commented on #211
This has been resolved by just not having sorters on the columns - need to double check with Alex if this is still a work item or not

[2021-09-01 12:36] w4kpm commented on #148
This probably needs to be deleted - I've not encountered this in the last 9 months

[2021-09-01 12:42] w4kpm commented on #320
Never intended to work this way . . .

If there is nothing out there, it returns a default - full stop.

Having it work this way has it's use cases :
if we return a default, it means that no one has updated this yet and in some cases that might be important to know rather than just setting a default without notice.

To get the behavior you are wanting :
release_test = file_data_get(file_id=1342,ke

[2021-09-01 12:54] cullerton commented on #450
@calexh-sar First of all, why are you reading this on vacation?
Second, I want to make sure I understand when/where the problem occurs...

We're talking about the script in Activity_0ykr6oi, right?
If I get to UserTask_UploadnonUVACoversheet without seeing the errror, then we are seeing different results?

I can run the workflow on testing--not on my laptop, with or without a file uploaded for Use

[2021-09-01 13:05] w4kpm commented on #377
It appears that if you complete the task with a boundary event, the workflow is not listing a status of 'waiting' on the boundary event so this doesn't need any work,

If the cycle event has a count and that count is hit, the timer never FIRES again, but it is still listed in waiting condition so the scheduler goes and checks this event. but it never fires.

[2021-09-01 13:23] w4kpm commented on #365
This appears to not be an issue any longer as we are no longer displaying the date in the documents pane to manage some of the visual clutter that we had before

[2021-09-01 13:28] #148 closed, assigned to w4kpm

[2021-09-01 13:29] #211 closed, assigned to w4kpm

[2021-09-01 13:30] cullerton commented on #352
Moving to Icebox

[2021-09-01 13:32] Leashys commented on #353
@calexh-sar I thought about it, and the solution I gave yesterday would require the user to put a newline after every line of text. Here is a better alternative:

&emsp;**Experience:**
&emsp;{{pi.experience|wordwrap(70)| replace('\n', '\n&emsp;')}}

This only allows the formatted lines to be 70 characters long, and puts an indent in front of every new line. So if they do multiple paragraphs, you s

[2021-09-02 05:15] calexh-sar commented on #353
@Leashys `{{pi.experience|wordwrap(70)| replace('\n', '\n ')}}`  gave me just about what I was looking forL
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/9a549c0d-3897-4e88-a5e7-ac954832e522)

 but I was hoping for the indent to look like this:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/c1af7cb3-eabd-4d40-837b-25b2bd8e3577)
which I was a

[2021-09-02 05:23] calexh-sar commented on #352
@cullerton when you have written the "ticket for the second idea", would you please add it as a dependency to this ticket.

[2021-09-02 05:53] calexh-sar commented on #365
@w4kpm the dates this ticket refers to are those added via Form Fields, like Version Date
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/458ee692-576a-4772-b219-2d87911eebaa)
and in this case, Date Sent
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/e2bd5c85-0b65-4a2a-8b97-548f151d882c)

They are often file_data and can only be seen if you ho

[2021-09-02 06:08] calexh-sar commented on #450
@cullerton was able to clear the error by using the _Clear documents_ option in _Start over_.    Closing this ticket, as `is_file_uploaded` seems to be working fine now.

[2021-09-02 06:08] #450 closed, assigned to cullerton

[2021-09-02 11:58] cullerton commented on #450
To be clear, is_file_uploaded never had a problem. We still don't know what was causing this issue.

[2021-09-02 12:04] cullerton commented on #353
This may be problematic, since it isn't responsive. Users with wide or narrow devices may have isssues

[2021-09-02 12:57] Leashys commented on #353
@calexh-sar the indent character is `&esmp;` (hopefully that shows up and doesn't become an indent). @cullerton is right that this isn't responsive-- if you shorten the screen width, you basically get 70 character paragraphs. I think it is possible to integrate jinja into Angular, but from my understanding crconnect isn't built responsively. (Though it would be nice if it wordwrapped over the leng

[2021-09-02 14:12] Leashys commented on #441
When you click on your name/user ID on the landing page, there's also a 'profile' and 'notification' page that are "coming soon". Would you like me to remove this menu now too

[2021-09-03 14:39] danfunk commented on #114
This will now work if you use 'read_only_expression' rather than just 'read_only'.  We might consider looking at all of these 'expression' based items.  I wonder if we really to have two calls, or if we could always evaluate everything, and make this easier to use.

[2021-09-03 14:51] NWalker4483 commented on #114
Yeah it makes no sense for this to be separate properties. There might be
some stragglers that have weird definitions like that too

On Fri, Sep 3, 2021, 10:39 AM Dan Funk ***@***.***> wrote:

[2021-09-03 15:22] cullerton opened #451 "Add way to view XML for DMN/BPMN files in the Configurator"
In the Camunda Modeler, you can view the XML for DMN and BPMN files.
This is great for troubleshooting, and copying.

It would be nice to have this feature in the configurator.

[2021-09-07 12:58] w4kpm commented on #365
IMO, this is something the configurator should handle explicitly . . .

Will discuss in scrum but:
the data_store field is a text field, so when we pass in a date, it is happily converting this into a text value - in this case it looks like crap.

we have two choices :
1) format all dates that we send to any of the data store functions - in this case the configurator has full control over what thi

[2021-09-07 14:21] w4kpm commented on #365
On second look - the issue is that we were not using python to set the file data store, but a new construct that uses a property on a task - it was unclear where the date/time was being converted to a string.

On reflection - we really wanted to maintain the ISO format, but handling a conversion on the frontend seemed like a bad idea, catching everything in the middle to see if it looked like a ti

[2021-09-07 14:54] calexh-sar commented on #365
Moving to Icebox per Kelly's comment above

[2021-09-08 17:23] cullerton commented on #439
The latest version of the spec (20191111), requires a <dmndi:DMNDI> section like this.

     <dmndi:DMNDI>
        <dmndi:DMNDiagram>
            <dmndi:DMNShape dmnElementRef="CHANGE_ME_TO_DECISION_ID">
                <dc:Bounds height="80" width="180" x="100" y="100"/>
            </dmndi:DMNShape>
        </dmndi:DMNDiagram>
    </dmndi:DMNDI>

You must change the dmnElementRef value to the ID

[2021-09-08 18:02] #439 closed, assigned to calexh-sar

[2021-09-08 18:02] calexh-sar commented on #439
Added XML fixed the problem.

[2021-09-08 18:06] calexh-sar opened #452 "After deleting file, cannot add and save file with same name"

[2021-09-09 17:45] cullerton commented on #446
I did a quick check of this one, and it seems to be working correctly now. I'm just not completely sure of what the expected behavior is.

[2021-09-09 17:54] cullerton commented on #421
Problem is still occuring for me locally.

[2021-09-09 17:57] cullerton commented on #415
Just doing a review of all backlog tickets.
This is still an issue for me locally.
(I'm not seeing the popout editor at all)

[2021-09-09 17:59] cullerton commented on #414
Running through the backlog tickets.
Cannot test because I don't see the popout editor.

[2021-09-09 18:04] cullerton commented on #320
I'm running through all the backlog tickets.
Maybe we should discuss this ticket in postscrum and decide what to do.

[2021-09-09 18:05] cullerton commented on #249
Running through all the backlog.
This is still an issue

[2021-09-09 18:17] cullerton commented on #445
This should probably happen in the DMN file, like all the other messages.

[2021-09-10 13:49] cullerton opened #453 "Cleanup library listings"
Make sure libraries don't have a category_id.
(We don't want them showing up in the category listings)
See if libraries can be run in standalone mode.

[2021-09-13 13:00] NWalker4483 commented on #429
https://github.com/sartography/cr-connect-bpmn/pull/100

[2021-09-13 14:24] Leashys opened #454 "BPMN Home page refactor"
Continuing with work from tickets #434 and #435, we should refactor the layout of the BPMN home page to better categorize types of workflows. This includes:

(Study workflow = a 'standard' workflow spec that fits nicely into a category).

- Adding separate buttons for adding either a new Library workflow or Study workflow (and potentially Standalone)
- Remove checkboxes for 'Standalone' and 'Libra

[2021-09-13 18:42] cullerton opened #455 "Changes to Frontend/BPMN for workflow/library listings"
- Change `Categories` to `Study Specs`
- Change `Libraries` to `Library Specs`

- Move the `Add Category` down next to `Study Specs`
- Change `Add new workflow specification` to `Add Study Spec`
- Add `Add Library Spec` button beside `Add Study Spec` button

- Remove `Library` and `Standalone` buttons from add/edit workflow spec popup window.
- Remove `Standalone` and value from workflow spec disp

[2021-09-14 12:44] #454 closed, assigned to Leashys

[2021-09-14 12:44] Leashys commented on #454
redundant - see #455

[2021-09-14 13:35] cullerton commented on #453
We decided not to refactor a bunch of code for this ticket.
Instead, we only make sure that library and standalone workflow specs do not get a category_id.
Also, we are explicit in the types of workflow specs we return with all_specifications method. We only send one type at a time; library, standalone, or standard. We no longer send multiple types together.

[2021-09-14 15:51] danfunk commented on #447
dc_ldap is undefined error was because this variable wasn't defined if a DC did not exist.  Modifying the script in Load Department Chair corrected this issue.

The "You specified an enumartion field (EntityName) with no options, was occuring because we didn't handle the case of an empty list of sponsors.  Modifying the script to check for an empty list of sponsors fixed this.

I've corrected both

[2021-09-14 16:36] danfunk commented on #422
@calexh-sar - The value_expression is working correctly.
The issue here, is the same problem we have had a hundred times now with drop down lists.  Drop down lists need to have both a label and value, rather than functioning like all other inputs.  We have dozens of special cases in the code now to handle this, and they just keep coming and coming.  We need to strongly consider removing these spec

[2021-09-15 15:06] calexh-sar commented on #441
Working as designed.

[2021-09-15 15:06] #441 closed, assigned to Leashys

[2021-09-15 19:25] calexh-sar commented on #435
Working as designed.

[2021-09-15 19:25] #435 closed, assigned to Leashys

[2021-09-15 19:25] #363 closed, assigned to cullerton

[2021-09-15 19:25] calexh-sar commented on #363
Working as desgned.

[2021-09-15 19:26] calexh-sar commented on #353
Working as desgned.

[2021-09-15 19:26] #353 closed, assigned to Leashys

[2021-09-15 19:36] calexh-sar opened #456 "Category only seen by Admins"
It would be nice to have a way to specify that a Category can only be seen by Admins so work and testing can be done there but not confuse the regular UI.

[2021-09-16 03:09] calexh-sar commented on #445
Discussed with Mike and agree with his comment above.

[2021-09-16 03:09] #445 closed, assigned to cullerton, calexh-sar

[2021-09-16 10:26] calexh-sar commented on #320
Discussed this with Kelly and now have a better understanding of how the default values for all datastores work.  Closing this ticket, as no work is required.

[2021-09-16 10:26] #320 closed, assigned to w4kpm

[2021-09-16 10:28] calexh-sar commented on #421
Discussed this problem with Dan yesterday.

[2021-09-16 11:48] calexh-sar commented on #446
Confirmed that this seems to be working correctly on testing.

[2021-09-16 11:48] #446 closed, assigned to danfunk

[2021-09-16 12:25] calexh-sar opened #457 "Trash can on document entry not working"
If you incorrectly select the wrong file to upload:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/a6b0e60e-38ed-4b32-9a3f-d7285e52cc74)
And click on the trash can to delete that file immediately, when you select another file to upload and click Save, you get this error.
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/752ada38-0bf0-4990-b69f-a

[2021-09-16 12:25] calexh-sar opened #458 "Trash can on document entry not working"
If you incorrectly select the wrong file to upload:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/a6b0e60e-38ed-4b32-9a3f-d7285e52cc74)
And click on the trash can to delete that file immediately, when you select another file to upload and click Save, you get this error.
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/752ada38-0bf0-4990-b69f-a

[2021-09-16 13:51] danfunk opened #459 "Make Dropdown lists behave like a standard html element"
We have a lot of complex code around drop down lists (enums) on both the front end and back end. Much of this is because we attempt to capture both the label and the value as a dictionary, rather than recording just the value.

i'd like to look into removing this, and adding in any tools we need for doing look-ups if we need to pull out he original label later by referencing the original key-value

[2021-09-16 14:42] calexh-sar opened #460 "Add Top Level Workflow to Validation"
Validation should be informed by the top level workflow so that cases where the Configurator is preventing a workflow from being accessed, e.g., no Department Chair and/or Principal Investigator defined in PB does will cause the Personnel workflow menu item to be disabled.  But the validator will throw an error if you attempt to validate that workflow without the Department Chair and/or Principal

[2021-09-16 15:17] calexh-sar opened #461 "Place to access Excel template for DMN table upload"
On the Configurator's Reference File tab, add the capability to uploaded the Excel file template used for creating DMN tables.  There should be only one file upload allowed, and if the Configurator is attempting to upload a new version, first preset a message like show below to make sure they are not mistakenly uploading a version used to create a DMN table.

Suggested message:
A blank version of

[2021-09-16 15:28] calexh-sar opened #462 "Template file backups"
The Template files used to create documents and upload a new DMN table can often involve hours of work by the Configurator to complete fir its specific workflow.  If one is mistakenly deleted from the workflow, we do not have a good way for the Configurator to recover the document and if they cannot access a local copy, the work will need to be done again.

At the minimum, we should provide the Co

[2021-09-16 19:25] calexh-sar opened #463 "Additional data points in study_info"
Add the ability to update and retrieve two additional data points in the study_info script for Short Name and Proposal Name.

[2021-09-16 19:30] calexh-sar opened #464 "study_info mislabeled in /list_scripts"
Seems like it should display `"name": "study_info" instead of:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/adfff9c3-8d73-4bb6-9639-6755fea1c95f)

StudyInfo("info") or any of the other TYPEs does not work.

[2021-09-17 14:19] w4kpm opened #465 "Add Git Sync Of files only"
- [ ] Add a *Checkpoint* history that allows someone to sync all of the current files to GIT along with a Status message
    - [ ] Add branches for staging and live and test - i.e. what branch do we sync to (repository and branch) - this should be an environment variable which we already have set up from the work that Carlos did
- [ ] Add a log in the database that records These commits - or maybe

[2021-09-17 14:22] w4kpm opened #466 "Add Scheduled Process that removes unnecessary files"
Because of the way the revision history works - we can end up with a lot of unneeded files in the database

Add a scheduled process that looks at any old revisions of a file that are not currently being used by a workflow and deletes them to recover DB file usage. **NEVER** remove a file that is the latest version if a workflow is using it or not.

[2021-09-17 14:25] w4kpm opened #467 "Add location to do a db sync from a remote location"
Just a simple location to be able to use the sync from cr-connect workflow to pull from remote points

* Allow an environment variable to specify the different endpoints
* Get a report back that shows what was pulled from the remote side

Downgrading is not a thing as of this time, if you want to downgrade, you need to zap the DB, do flask db upgrade and then pull from remote.

[2021-09-20 17:30] calexh-sar opened #468 "Expose File Upload Date/Time"
Currently we store the datetime when a file is uploaded, but do not expose that information in the task data.  Work on this ticket is to expose that information so it can be used in the application.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/e8d77dfc-ae34-4aa3-960c-3bb37a566337)

[2021-09-21 19:09] danfunk commented on #440
I've tested this carefully, and I no longer see this issue.
* Parens are valid, but not required for the NOT operator.  Both work.
* Because this is the first form on the page you aren't getting a refresh of these evaluation functions and they have already been run on these fields,  that's why the browser refresh produces the expected behavior, and a restart does not. We could force a reload of th

[2021-09-22 12:28] calexh-sar opened #469 "Keep last Category Open"
In the Configurator, if you click on a Category and select a workflow on the main page, when you return to that page all of Categories are collapsed.  Most often, the Configurator is working on workflows in the previously opened Category, so it should not collapse on return.

In the example below, the _**Documents for IRB**_ Category should remain open as shown when returning to the main page.
![i

[2021-09-22 13:57] calexh-sar opened #470 "Function should work in DMN expressions"
Adding a function, like is_file_uploaded() to a DMN input expression does not work and should.

[2021-09-22 15:42] cullerton commented on #464
We decided to add a `handle` entry, that displays the name of the file, which the configurators actually use in a script task.
[code]

[2021-09-22 16:49] NWalker4483 commented on #249
I agree that id should be generated but I'm not able to reproduce this issue
![image.png](https://images.zenhubusercontent.com/600ae36fc5ce0836e9a11e4b/ee45fe9a-a815-4172-8122-8e754599286f)

[2021-09-22 20:32] calexh-sar commented on #246
@NWalker4483 I just asked for the PI to be displayed, but am getting this:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/d95cb507-7777-4033-92ee-5ac45a7d5dfe)

Please removed everyone but the PI

[2021-09-22 20:38] calexh-sar commented on #458
@Leashys I am getting this error now when I remove an incorrect file and pick the correct one, before I click Save.  Also, it will not let me replace with the same file.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/0301239f-0156-4d75-90c8-0aa0088814bc)

[2021-09-22 20:39] calexh-sar commented on #469
Working as designed.

[2021-09-22 20:39] #469 closed, assigned to Leashys

[2021-09-22 20:52] calexh-sar commented on #468
Working as designed, seeing: "last_modified": "2021-09-22T15:49:14.820979-04:00"

[2021-09-22 20:52] #468 closed, assigned to danfunk

[2021-09-22 20:55] calexh-sar commented on #464
Working as designed, now seeing:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/3b7277b7-4110-4be9-abfc-ccf98abb4bdb)

[2021-09-22 20:55] #464 closed, assigned to cullerton

[2021-09-22 21:15] calexh-sar commented on #379
Working as designed.

[2021-09-22 21:15] #379 closed, assigned to cullerton

[2021-09-23 13:51] Leashys commented on #458
@calexh-sar One of my PR's for  this is still at large, I'll get it out this mornin

[2021-09-23 14:17] calexh-sar opened #471 "Clearing data should also clear documents"
Clicking the _Start over_ link presents a dialog button that give the user the option to click the   _Clear previously entered information_ checkbox, which if you click then enables the _Remove Documents_ checkbox.  With the document refactor Dan did, have the _Remove Documents_ checkbox is not needed anymore and we should remove it and always remove documents when the _Clear previously entered in

[2021-09-23 20:20] calexh-sar opened #472 "Possible False Positive for new Datetime conversion"
In the FERPA Approval workflow, I receive this error from the shield test, but the workflow executes without error.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/829b0ed4-f316-4b18-a297-765d67058490)

[2021-09-24 11:44] calexh-sar opened #474 "Error when attempting to redo task"
After completing the Study Information workflow, I clicked on the Study Info task found in the nav under Previously Completed and received this error:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/689ed1d9-cc92-4bcb-a632-21a783a19d6c)

I was able to restart the workflow after dismissing the error.

I am able to restart other workflows, this seems to be happening in St

[2021-09-24 13:28] calexh-sar opened #475 "Change From/Replace Address for Emails"
Currently emails are defaulting to a From address of askresearch@virginia.edu.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/f51b2098-9bfc-4036-9d1e-84c00705f2e0)

For CRC2, this needs to be set to: uvacrconnect@virginia.edu

[2021-09-24 15:38] cullerton commented on #466
@w4kpm We're talking about cleaning up the file_data table, right?
There's 1 entry in the file table, and the different 'revisions' of that file are the multiple entries in the file_data table.

[2021-09-24 15:48] w4kpm commented on #466
Yes, the procedure will remove any file_data record that is not the most recent and not currently being used by a workflow.

I did it all in one big SQL statement - do you want to verify?

        -- if a file_data is not the most recent revision
        -- AND file_data is not currently used by a workflow
        -- THEN we delete it.
        with latest as (
            -- Get the latest revisio

[2021-09-24 16:19] cullerton commented on #466
Is that code legal in all 50 states?

It appears to work, but I am now trying to figure out how it works. That is crazy sql. I've never seen anything like that before. Way cool.

[2021-09-25 03:19] calexh-sar opened #476 "Document link fails"
Clicking on a document link created in markdown, like:
[code]
which results in:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/8dd3a1b3-c420-40cd-9126-f1742c5827df)

fails with this error:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/7497e654-361a-4aa2-b827-bc63e84163bb)

[2021-09-27 14:48] Leashys opened #477 "Libraries not showing as 'selected spec' on page loads"
If you're on a study spec and reload the page, you will land back on that same study spec. However, if you are on a library and reload the page, you will get a blank screen. This also causes an inability to save any new workflows. When workflow specs are loaded, we are not looping over libraries to see if we should be looking at a library. We also should make the default the master spec, in case t

[2021-09-27 15:02] Leashys commented on #477
To add on to this ticket- there are generally just some design issues around workflow specs. Maybe there should be one master running list of all specs, whether they are study, library, master, (potentially standalone), etc. Instead of treating these all separately. will think about it later

Another issue this causes, is that when you add or delete a library, the page doesn't update to reflect th

[2021-09-27 15:39] w4kpm commented on #466
NB - the above query is not quite correct - as it is not excluding anything that is referenced from lookup_file

[2021-09-27 15:54] w4kpm commented on #466
Mike I will re-write this query as python using the models / python for maintainability per DAN

[2021-09-27 16:17] w4kpm commented on #466
Handed off to Mike to re-factor into python

[2021-09-28 13:50] calexh-sar commented on #217
@cullerton opening this ticket again per our conversation in scrum

[2021-09-28 18:41] cullerton commented on #476
@calexh-sar Has this ever worked?

[2021-09-28 19:19] calexh-sar commented on #476
I do not remember a time when it worked/

[2021-09-29 11:59] calexh-sar opened #478 "Possible false positive in IDS Approval shield test"
When I run the shield test on the IDS Approval workflow, I receive this error:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/17e670f8-e3f1-4c8f-b01c-fd28ef368fdf)

Sentry captures this [WorkflowTaskExecException](https://sentry.io/organizations/sartography/issues/2678308692/?referrer=slack) error.

The workflow executes without error and the line of code specified is

[2021-09-29 15:14] calexh-sar opened #479 "Issue deleting Library Workflow Specification"
When attempting to delete the _IDS Email_ Workflow Specification from the Library Category, I receive the following message:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/08d08e82-bfe3-4720-80ad-98be4ceedb55)

I have checked all Workflow Specifications and do not see any that are currently using _IDS Email_.  There were two, _Protocol, Applications & Coversheet" and _

[2021-09-29 15:16] cullerton commented on #476
We are only returning the api path part, without the host part

`/file/920/download?auth_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJkaGY4ciJ9.ENI4aY3iA_5jOHKr3h_MeSng1-WVGSknHbP6dKZDKDk`

I put in a couple hours on this and could not figure out how to get the correct url.

[2021-09-29 15:18] calexh-sar commented on #476
@danfunk assigning you to this ticket as well to see if you can provide some additional direction for Mike.

[2021-09-29 15:23] calexh-sar commented on #479
I did a hard refresh and tried deleting the _IDS Email Workflow Specification_ again and received this error message:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/c440909a-c324-4875-8e37-09d3e9be7ea6)

Additionally, the same two Sentry errors discussed in ticket #217 were thrown.

[2021-09-30 15:30] calexh-sar opened #480 "Make _Clear previously entered information_ checkbox an Admin only option"
WIP

We need to determine if we should hide that option from end users.

[2021-09-30 17:01] cullerton commented on #478
This turned out to be a problem with the way we seed data into enum fields during validation.
Checkbox enums are different from enums.
Enums return a dictionary.
Checkbox enums return a list of dictionaries.
We now treat them differently in `get_random_data_for_field`

[2021-09-30 19:05] calexh-sar commented on #478
Working as designed.

[2021-09-30 19:05] #478 closed, assigned to cullerton

[2021-09-30 19:40] calexh-sar commented on #246
Working as designed.

[2021-09-30 19:40] #246 closed, assigned to NWalker4483

[2021-09-30 19:52] calexh-sar commented on #436
Working as designed.

[2021-09-30 19:52] #436 closed, assigned to Leashys

[2021-09-30 19:55] calexh-sar commented on #416
Working as designed.

[2021-09-30 19:55] #416 closed, assigned to nobody

[2021-09-30 20:30] calexh-sar commented on #456
Working as designed!

[2021-09-30 20:30] #456 closed, assigned to Leashys

[2021-09-30 20:38] calexh-sar commented on #470
Working as designed.

[2021-09-30 20:38] #470 closed, assigned to danfunk

[2021-10-01 13:45] cullerton commented on #426
This code is pushed.
Not really testable from within the app.
I am closing the ticket

[2021-10-01 13:45] #426 closed, assigned to cullerton

[2021-10-01 15:55] calexh-sar commented on #432
Working as designed.

[2021-10-01 15:55] #432 closed, assigned to Leashys

[2021-10-01 16:31] cullerton commented on #421
@calexh-sar I have difficulty running this workflow in general.
It may be due to PB Mock settings, or selections I make running the workflow
Whatever the reason, I cannot test this.
Moving to Configuration/QA

[2021-10-01 17:13] calexh-sar commented on #200
@Leashys thought I saw this working at one time, but not working now.  This is from the IDS Approval workflow:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/c2e1e870-34c9-4a6d-a0a7-4135de80928a)

The default is Yes, I was able to click and select No in the Requester view.

[2021-10-01 17:23] calexh-sar opened #481 "Expand Approval s"
In order to minimize the vertical size of the Approvals section, increase its horizontal size to a maximum length that still looks good in it space.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/a5cdc3e5-ca0f-4f45-ae28-509ec8ad3f8e)

[2021-10-04 13:36] cullerton commented on #479
The original error is coming from cr-connect-bpmn.
workflow-spec-list.component.ts line 197.
`if ((wfs.parents.length > 0) && (wfs.library)){`

I thought we were trying to move this type of logic to the back end.
Either way, it looks like wfs.parents has bad data when the check happens.

It's probably better for someone else to look at this.

[2021-10-04 13:42] calexh-sar commented on #452
@Leashys did you fix this when you were working on #458

[2021-10-04 13:47] calexh-sar commented on #452
Working as designed, looks like this was fixed with #458.

[2021-10-04 13:47] #452 closed, assigned to nobody

[2021-10-04 13:54] calexh-sar opened #482 "Determine what would be involved with getting the Input/Output tab working"
Many workflows involve setting up one or more variables before and/or after a User Task.  Currently this is done by adding a Script Task.  It appears that the Input/Output tab would also handle this, and would be better since it would simplify the workflow.  Work on this ticket is to determine what would be involved with getting that tab functional.

![image.png](https://images.zenhubusercontent.c

[2021-10-04 15:33] cullerton opened #483 "Remove `name` column from workflow_spec and workflow_spec_category"
[The name and description for this ticket changed.]

We want to simplify the creation process for workflow_specs and workflow_spec_categories.
We decided to remove the `name` column from both tables, and use the workflow_spec id to identify workflow_specs.

The category id will be hidden from the user.
The spec id will be displayed to the user, and is how the configurator will refer to a workflow_

[2021-10-04 15:55] danfunk commented on #482
Most effort would need to occur in SpiffWorkflow, through modifications at other points is likely.  I would estimate 3 to 4 days to get this working completely.  These are camunda specific attributes (not a part of BPMN specification), so it doesn't further our efforts in that direction.

[2021-10-04 16:01] calexh-sar opened #484 "display_name with 🔒 in Property throws error"
I tried to use "🔒 IDS Study Identification" as the property for a display_name and received this [WorkflowTaskException](https://sentry.io/organizations/sartography/issues/2692704023/?referrer=slack) error.

Similar to how we fixed this for label_expression in ticket #387,  this should be allowed.

[2021-10-04 16:04] calexh-sar commented on #484
Closing ticket, realized #387 was using a variable in the label_expression Property, which is working for display_name.

[2021-10-04 16:04] #484 closed, assigned to nobody

[2021-10-04 16:19] Leashys opened #485 "'name' needs a unique-ness validator"
The 'name' field of categories and specs should be unique, but there's nothing checking that. It's used in the code, in DMN tables, and other places as a unique reference.

[2021-10-04 19:12] danfunk commented on #472
I did have an issue in validation around date_time parsing, and I think it's fixed in the next release, but with a caveat below.   I also put some effort into assuring we get task_data back all the time, even on script tasks with a function definition in them.

One smaller issue here is that the ferpa_email_sent_utc_str is read in from the data store, and set to None by default:
ferpa_email_sent_u

[2021-10-05 13:39] calexh-sar opened #486 "Single checkbox boolean not working correctly as required field"
WIP
Save button is active if no default is set.  Seems to default to True in this case.

[2021-10-05 14:18] calexh-sar opened #487 "Expose email data"
For Approvals workflows and likely other Categories, we need to know when emails were sent.  Some emails are only sent once, but many can be resent due to required updates.  In the latter case, the configurator would need to know the date and time for each occurrence.

Work on this ticket includes providing a script that can be used to return the following information about each email sent:
- Subj

[2021-10-05 14:24] calexh-sar commented on #482
Per discussion in today's scrum, moving this ticket to the Icebox for future consideration.  Might want to reconsider if we decide to refactor all the Camunda specific XML out.

[2021-10-05 20:02] calexh-sar opened #488 "Study Information Menu option not working"
I cannot get the status or message for the Study Information menu option found in the Core Information Category to work.  It should be required and display a message with a mouse hover.

[2021-10-06 14:18] cullerton commented on #487
We need a unique identifier for each email, separate from study_id.
Maybe the Subject can serve as the identifier.
Something like get_email_data(subject='My Email Subject')
(Study_id is already sent with each script call)

[2021-10-06 14:34] cullerton commented on #487
It's possible that subjects could be dynamic, which is problematic using them as identifiers.
We could use task id.

[2021-10-06 16:49] #459 closed, assigned to danfunk

[2021-10-06 21:15] calexh-sar opened #489 "Email not formatting correctly"
The body of the email sent from the _Send Approval Request Email_ Script Task in the IDS Approval workflow looks like this:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/dafb7cf1-9b0d-4a78-bf0f-d2a9e6595031)

The same code in another Element documentation looks like this:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/d383fa37-8581-4943-90

[2021-10-07 14:17] w4kpm opened #490 "API has two different endpoints that do the same thing, but use different authentication methods"
/workflow-specification/{spec_id}:
  /workflow_sync/{workflow_spec_id}/spec:

Acutally do exactly the same thing api.workflow.get_workflow_specification
BUT I couldn't get multiple authentication methods to work correctly

Essentially,

/workflow-specification/{spec_id}:
should respond to both
    - ApiKeyAuth : [] and
     - jwt: ['secret']

the second endpoint should be removed,
the stub should

[2021-10-07 14:28] w4kpm opened #491 "github specific items should have their own call signature"
I've moved the github specific items to their own section, but the api call is still /file/xxx

For purity sake, you may want to have them be
/github/xxxx

There was also talk about having these moved out into some kind of application over view call that got all statuses from the cr_connect_workflow application

If these changes are made:

Change api.yml to reflect the file signature change
change

[2021-10-07 14:40] w4kpm commented on #490
For what it's worth, this seemed to fail when I tried it on this endpoint, but did work when I tried it on the github endpoints.  - will update this if it works.

[2021-10-07 15:13] calexh-sar opened #492 "Too much whitespace in End Event rendering"
The End Event of each workflow renders a summary of the data and documents associated with the workflow.  It seems to me we could improve the UI by removing some of the whitespace between lines.  This could include:
- The space between **<workflow name> is complete.** and the first line from the Element Documentation
- Reduce the padding under Headings (the padding above is reasonable, would sugge

[2021-10-07 17:58] cullerton commented on #488
This works for me locally after grabbing the latest dev branch.
Will check Testing after we push current PRs to Testing.

[2021-10-08 15:19] calexh-sar commented on #249
Working as designed

[2021-10-08 15:19] #249 closed, assigned to danfunk, Leashys

[2021-10-08 15:21] calexh-sar commented on #483
#249 is working, but don't know if any way to test that the name column has been removed, so moving to Needs Additional QA

[2021-10-08 15:26] calexh-sar commented on #471
Working as designed

[2021-10-08 15:26] #471 closed, assigned to Leashys

[2021-10-08 15:34] calexh-sar commented on #475
Working as designed.

[2021-10-08 15:34] #475 closed, assigned to nobody

[2021-10-08 15:38] calexh-sar commented on #472
@danfunk I am still getting this error.  Did several hard refreshes and seems like other changes have loaded.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/9d1c36ca-a746-48d1-8f77-f4d65e0cf46e)

[2021-10-08 15:40] calexh-sar commented on #474
Working as designed.

[2021-10-08 15:40] #474 closed, assigned to danfunk

[2021-10-08 15:45] calexh-sar commented on #481
Working as designed.

[2021-10-08 15:45] #481 closed, assigned to Leashys

[2021-10-08 15:47] calexh-sar commented on #476
Working as designed.

[2021-10-08 15:47] #476 closed, assigned to danfunk

[2021-10-08 15:51] calexh-sar commented on #409
@w4kpm I am able to check both boxes and click Save.  No error message appears, but it also does not seem to make the changes.  Is this what you implemented?

[2021-10-08 15:53] calexh-sar commented on #442
Working as designed.

[2021-10-08 15:53] #442 closed, assigned to cullerton

[2021-10-08 15:58] #421 closed, assigned to danfunk

[2021-10-08 15:58] calexh-sar commented on #421
Working as designed.

[2021-10-08 15:58] calexh-sar commented on #412
Working as designed.

[2021-10-08 15:58] #412 closed, assigned to w4kpm

[2021-10-08 16:06] calexh-sar commented on #460
Working as desgned.

[2021-10-08 16:06] #460 closed, assigned to cullerton

[2021-10-08 16:07] calexh-sar commented on #423
Fixed.

[2021-10-08 16:07] #423 closed, assigned to w4kpm

[2021-10-08 16:09] calexh-sar commented on #418
Working as designed.

[2021-10-08 16:09] #418 closed, assigned to cullerton

[2021-10-08 16:10] calexh-sar commented on #429
Fixed.

[2021-10-08 16:10] #429 closed, assigned to NWalker4483

[2021-10-08 16:12] calexh-sar commented on #427
Working as designed

[2021-10-08 16:12] #427 closed, assigned to cullerton

[2021-10-08 16:13] calexh-sar commented on #458
Working as designed.

[2021-10-08 16:13] #458 closed, assigned to Leashys

[2021-10-08 16:15] calexh-sar commented on #361
Working as designed.

[2021-10-08 16:15] #361 closed, assigned to Leashys

[2021-10-08 16:26] #483 closed, assigned to cullerton

[2021-10-08 16:49] danfunk commented on #472
@calexh-sar  The issue here is validating when using study_data_set, and study_data_get functions.  The validator isn't actually settings these values on the study.  And we'd have to think very hard about how to make this work.  We can't actually effect the study when running the validations, so we can't write to and read from this store.  We would need to have some sort of temp-memory setup for v

[2021-10-08 17:04] calexh-sar commented on #472
Will make those changes, closing for now.

[2021-10-08 17:04] #472 closed, assigned to danfunk

[2021-10-08 18:24] calexh-sar opened #493 "Validation issue in IDS Approval workflow"
The following error is thrown when running the shield test on the _IDS Approval_ workflow.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/a539669f-1847-4484-86ae-8d17cbc85603)

The StaffTrainingDetails field  has a `hide_expression` which is `StaffTraining.value == "No" or StaffTraining.value == None`

In the validation, `StaffTraining.value` was:

[code]
It appears th

[2021-10-10 16:18] calexh-sar opened #494 "Consolidate Group Approvals"
If an Approval is a group approval, only show one entry in to Approvals section of the Main Dashboard for the Submitter instead of a separate listed to each recipient.  The names of each recipient do not need to be list, just add the word Group to the end of the workflow name.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/ccc39366-aa22-4e95-a77e-8828673666f3)

[2021-10-10 16:26] calexh-sar opened #495 "Category not required if adding Library Workflow Specification"
The selection of a Category should not be required if adding Library Workflow Specification.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/c4321a54-80cf-47b1-b8a5-c1a6c25c9de8)

[2021-10-10 16:38] calexh-sar opened #496 "New Library Workflow Specification does not show up immediately"
If you add a new Library Workflow Specification, it does not show up immediately, only after doing a browser refresh.  It should either show up immediately or we should show a message that a browser refresh is required.

[2021-10-10 21:36] calexh-sar commented on #114
Created read_only_test in Alex's Tests and confirmed this is working as designed if your use `read_only_expression` for the dynamic ones.

[2021-10-10 21:36] #114 closed, assigned to danfunk, Leashys

[2021-10-10 22:00] calexh-sar commented on #387
Working as designed.

[2021-10-10 22:00] #387 closed, assigned to Leashys

[2021-10-11 17:16] calexh-sar commented on #493
Discussed with Mike, checking to see if this is a Configurator issue.

[2021-10-12 13:26] cullerton commented on #494
After talking with Dan, we think this should be done in the frontend.
Maybe do an accordian view when it's the same study, task, and workflow, and roll the multiple entries up into one entry.

[2021-10-12 17:06] Leashys opened #497 "Fix workflow spec/category name validation"
In BPMN, the 'ID' field of a new spec or category can have all kinds of characters that wont save properly in the DB. This field should have its validator updated to only include A-Z, 0-9, and underscores. (Varchar eligible stuff)

[2021-10-12 17:40] Leashys commented on #497
Cant start with a number either. go look at this https://forum.camunda.org/t/what-is-a-valid-qname/971 because the spec ID also has to be used as a qName ID in other places

[2021-10-12 18:12] cullerton commented on #487
My current solution doesn't work for configurators. They won't know the workflow_id.
Now looking at a combination of workflow_spec_id and study_id.

[2021-10-13 14:17] cullerton opened #498 "email cleanup"
Modify the email script so that is returns an email model instead of an email id
Fix the timestamp in the email model
In email_service, raise an error if sending the email fails. Currently, we only log an error.

[2021-10-13 15:19] calexh-sar opened #499 "Convert Time Script"
Provide a script that will allow the configurator to pass in a Python UTC datetime string and their timezone and it returns a Python local datetime string.

If possible and not more than a few hours of effort, determine how the local user's timezone can be obtained to pass in the script above.  If not, we will default to 'US/Eastern' for now.

[2021-10-13 18:08] calexh-sar commented on #499
Per chat with Mike
[code]

[2021-10-14 01:37] calexh-sar opened #500 "DMN Table not accepting text with line feeds"
In the Emails Library Workflow specification, I tried having text for the body of an email as our Output which looked like this:
[code]
When I ran the shield test for the IDS Approval workflow, which called that library workflow, I received a [Malformed Output Expression error](https://sentry.io/organizations/sartography/issues/1822760095/?referrer=slack).

If I replaced the text in the DMN table

[2021-10-14 12:27] calexh-sar opened #501 "Email Attachments"
Need the ability to add one or more documents previously uploaded in the study to an email.  Provide ability to attach based on doc_code(s) or file_id(s).

[2021-10-14 17:26] Leashys opened #502 "IDS approval not displaying in the correct order in the Nav"
Currently, the 'IVRS' task is displaying at the top of the Nav in the IDS approval workflow. The 'Enter IDS Study ID' task should be displayed first. This is happening because there is an additional script task that comes before 'IVRS', but after the exclusive gateway. find out why this script task is given weight when selecting a task in the parallel gateway, and then fix it so it doesnt

[2021-10-14 19:21] cullerton commented on #500
@calexh-sar Dan came up with a great solution for this ticket.
Are you familiar with docstrings in python? They are strings that are wrapped with triple double quotes.

[code]

Docstrings can have multiple lines in them. You don't have to worry about escaping quotes

[code]

Wrapping the text in the DMN table with triple quotes solves the problem.

[2021-10-14 19:30] calexh-sar commented on #500
Very cool that there is a native solution in Python.  Was not familiar with docstrings, but will give them a try and if they work as expected, will close this ticket.

[2021-10-14 19:58] cullerton commented on #501
This was done in ticket [430](https://app.zenhub.com/workspaces/cr-connect-5f0613d95578fa0026063103/issues/sartography/cr-connect/430)
I need to update the wiki

[2021-10-15 10:47] calexh-sar commented on #500
Docstrings worked like a charm!

[2021-10-15 10:47] #500 closed, assigned to calexh-sar

[2021-10-15 11:02] calexh-sar commented on #501
Wiki updated.

[2021-10-15 12:54] #501 closed, assigned to calexh-sar

[2021-10-15 15:23] Leashys commented on #495
@calexh-sar I think this is fixed with the new bpmn refactor

[2021-10-15 15:24] Leashys commented on #496
See #477 (PR for this should be merged in today)

[2021-10-15 15:29] calexh-sar opened #503 "Error if no Email Attachment"
If the email() script contains `attachments=some_variable` and `some_variable` is None or "", this [error](https://sentry.io/organizations/sartography/issues/2712221492/?referrer=slack) is thrown:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/b0260c85-636d-4b26-85d0-4baa4b2865d1)

It would be preferable if the email() script just ignore these cases and not throw an er

[2021-10-15 20:30] calexh-sar commented on #461
Working as designed

[2021-10-15 20:30] #461 closed, assigned to Leashys

[2021-10-15 20:32] calexh-sar commented on #434
Fixed

[2021-10-15 20:32] #434 closed, assigned to Leashys

[2021-10-15 20:33] calexh-sar commented on #407
Very few occurrences recently, seems like this ticket fixed the majority that were occurring.

[2021-10-15 20:33] #407 closed, assigned to NWalker4483

[2021-10-15 20:34] calexh-sar commented on #447
Closing per discussion with Dan.

[2021-10-15 20:34] #447 closed, assigned to danfunk

[2021-10-15 20:34] calexh-sar commented on #411
Working as designed.

[2021-10-15 20:34] #411 closed, assigned to w4kpm, NWalker4483

[2021-10-15 20:41] calexh-sar opened #504 "Tweak Library Category Behavior"
The All Libraries Category is always collapsed and currently, if you open it to work on a Workflow Specification, it closes when you click the Back -> link.  Very often when I am working in the Category, I need to access multiple Workflow Specifications, and having to reopen the All Libraries Category each time.

Work on this ticket is to keep the Library Category option when the Back -> link is c

[2021-10-15 20:45] calexh-sar commented on #417
Fixed

[2021-10-15 20:45] #417 closed, assigned to cullerton

[2021-10-15 20:45] calexh-sar commented on #430
Working as designed.

[2021-10-15 20:45] #430 closed, assigned to cullerton

[2021-10-15 20:57] calexh-sar commented on #422
Working as designed.

[2021-10-15 20:57] #422 closed, assigned to danfunk

[2021-10-15 20:57] calexh-sar commented on #433
Fixed

[2021-10-15 20:57] #433 closed, assigned to Leashys

[2021-10-15 20:58] calexh-sar commented on #448
Fixed

[2021-10-15 20:58] #448 closed, assigned to danfunk

[2021-10-15 21:08] calexh-sar commented on #428
Not showing Form Field, but showing the Task is sufficient since that narrows it down.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/6fcd29d6-eab0-4cac-9435-b236b41c92da)

[2021-10-15 21:08] #428 closed, assigned to cullerton

[2021-10-18 17:21] #392 closed, assigned to nobody

[2021-10-18 17:31] danfunk commented on #140
@w4kpm - assuming this wasn't completed, can you verify?  Looking for tickets for Elizabeth.

[2021-10-18 17:52] Leashys commented on #504
note to me- I pushed the fix for this onto the 477 - Libraries branch because i needed those changes to fix this. (PR is still out for that)

[2021-10-18 18:54] calexh-sar opened #505 "Call Activities Taking Longer than expected"
In the Protocol, Application and Coversheet workflow, when all four _Set <Name> Email_ Call Activities are run, the time to execute each seems to be much longer than expected.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/0f87f86a-1884-4c49-9b57-fb3c3a0cdad0)

It appears that the act of executing each Call Activity might be the problem since the actual code being exec

[2021-10-19 17:33] calexh-sar opened #506 "required Constraint not work correctly with Enums"
When the Constraint `required` is set to `True`

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/9b9eb61b-d8cc-47e6-ac0b-b9a46064ab4f)

it does not disable the Save button as it has in the past

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/b9aacdaa-64b6-4318-9123-fc39e9cf6137)

This appears to be a problem only when `enum_type` is `radio`.

[2021-10-19 17:52] calexh-sar commented on #498
@cullerton, I sent an email at 1:39p and got this in the email data that was returned:

`"timestamp": "2021-10-19T13:39:56.276210-04:00"`

Am I correct that we decided to return UTC and not ET for this value?

Also, is the best way to test if the email_service raises an error if sending the email fails is to send an email to an invalid email address?  Or is that another type of failure?

[2021-10-19 17:58] cullerton commented on #498
@calexh-sar I am storing UTC, but apparently am returning Eastern.
I will move this to in progress.

Also, if I understand your question, those are two different types of errors. The error we are worried about is if the email server has a problem. That is tough to test.

[2021-10-19 18:12] calexh-sar commented on #502
Working as designed

[2021-10-19 18:12] #502 closed, assigned to Leashys

[2021-10-19 18:13] calexh-sar commented on #494
Working as designed.  Received a big shoutout from CRC Team in today's Weekly Meeting for this fix.

[2021-10-19 18:13] #494 closed, assigned to Leashys

[2021-10-19 18:15] calexh-sar commented on #492
Working as designed.

[2021-10-19 18:15] #492 closed, assigned to Leashys

[2021-10-19 18:17] calexh-sar commented on #477
Working as designed.

[2021-10-19 18:17] #477 closed, assigned to Leashys

[2021-10-19 18:21] calexh-sar commented on #497
Working as designed.

[2021-10-19 18:23] calexh-sar commented on #499
@cullerton where do I find the documentation on how to use this script?

[2021-10-19 19:32] cullerton commented on #499
@calexh-sar I just added something at the bottom of the wiki Script Tasks.
Let me know if you have questions

[2021-10-19 20:24] calexh-sar commented on #504
Per Slack discussion with @Leashys, moving back to In Progress so she can fulfill the "close it if another Category is selected" requirement.

[2021-10-20 13:42] cullerton opened #507 "Create better message for error"
Add this to the list of errors we add messaging help for end user.

![Screen Shot 2021-10-20 at 9.39.29 AM.png](https://images.zenhubusercontent.com/5fa55f08b2891e7cfdfd2ed0/a2f9050c-41d4-4d53-9e11-18284966190a)

This happens when you try to send an email without any text in Element Documentation

[2021-10-20 15:21] cullerton commented on #498
@calexh-sar I'm not seeing this behavior in development. (I get UTC back)
It's like the migration didn't happen on the testing server.
I have a question out to Dan for some clarification.

[2021-10-20 16:25] cullerton commented on #499
@calexh-sar I got it down to this.
[code]

[2021-10-20 18:21] cullerton opened #508 "Add complete_template script to Jinja Service"
We can use a Word document as a template for Jinja. This uses the complete_template script.
The render_docx tool API endpoint also uses the complete_template script.

We need to move this into the Jinja Service.

[2021-10-21 14:13] danfunk opened #509 "Test new LDAP Servers (Urgent)"
Got a note today that they are trying to migrate to a new LDAP server.  We need to test, and then shift over to the new ldap system, and let them know if we have any problems.   Details below....

In order to comply with security requirements, ITS will be migrating the Private LDAP service to the OpenLDAP platform on October 11, 2021.  Due to some conversion issues, testing will now begin Septembe

[2021-10-21 14:13] danfunk opened #510 "Test new LDAP Servers (Urgent)"
Got a note today that they are trying to migrate to a new LDAP server.  We need to test, and then shift over to the new ldap system, and let them know if we have any problems.   Details below....

In order to comply with security requirements, ITS will be migrating the Private LDAP service to the OpenLDAP platform on October 11, 2021.  Due to some conversion issues, testing will now begin Septembe

[2021-10-21 14:53] #509 closed, assigned to danfunk, cullerton

[2021-10-21 19:20] cullerton commented on #510
Well, I know enough to tell that we can't do a user lookup, but not enough to understand why.
Where do we get the schema from the LDAP server so we know how to form a query?

[2021-10-21 19:43] calexh-sar commented on #504
Working as designed.

[2021-10-21 19:43] #504 closed, assigned to Leashys

[2021-10-21 20:16] calexh-sar opened #511 "Script hanging off Timer Event executing, but not updating Task Data"
In the IDS Approval workflow, the Send Reminder Email Script Task connected to the Timer Event hanging off of the Send Approver Response User Task contains this code:
[code]
The code seems to execute properly since the correct email is sent if the Timer Event triggers, by the Task Data is not updated to reflect that it does.  Specifically, the line `email_send_approval_reminder.append(email_data)`

[2021-10-25 13:49] calexh-sar commented on #511
Discussed this with @danfunk post scrum and he explained that the task data was not getting recorded because this task was not in the main flow of the workflow.  He is going to write a ticket for a logging service that can be used to capture this and other events (both BPMN Events and non-BPMN events) that will later be used for metrics.

[2021-10-25 13:49] #511 closed, assigned to cullerton

[2021-10-25 14:01] calexh-sar opened #512 "Remove content_html from email_data return"
The `"content_html"` information returned in `email_data` is somewhat redundant to `"content"` and more verbose that needed at this time.  Please removed that line of information from what is returned to Task Data. but leave it in the database for future reference, if needed.

[code]

[2021-10-25 14:40] danfunk opened #513 "Logging Script Task"
It should be possible to log events by calling a script in script task.
The function should take the following arguments:

- **Level** - (must be one of debug, info, warning, error or critical)  we may react to certain log levels later as a part of another ticket, for instance "Info" and above could send a message to Sentry, "Error" and "Critical" could fire off email messages.
- **Code** - a shor

[2021-10-26 11:43] calexh-sar opened #514 "Not able to upload a file of same name after deleting"
I had a corrupt DMN file that would not open due to the issue that was resolved by ticket #???.  I attempted to delete that file and then upload a file of the same name that had the fix implemented, but when tried to save the new file, I received this error message and could not proceed:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/d0fc7515-0d32-4565-982f-094d8d615db

[2021-10-26 14:58] w4kpm opened #515 "Add option to Sync Sources to ignore any sha that comes across with a file"
Currently, when syncing files between two systems, we assume that both of these systems are using the same github repository with different branches.

In the future, we may want to sync a local box with a remote server but have a completely different github repository set up for tracking local changes.  If we pull over a file from a remote server, and it has a sha built into it, then we wouldn't b

[2021-10-26 15:03] w4kpm opened #516 "Change behavior if we do on don't have a github repository set up"
right now, with the changes for the github sync & changes to the file sync between systems, we are assuming that you *will* have a github repository and that this is the same repository as the remote system.

In some cases we may not want to have a remote github repository - so the behavior should be a  bit different

* never show the sync to github button if we don't have the environment variable

[2021-10-26 15:04] w4kpm commented on #515
In some cases, we may have the need to have two different github repositories - repository A on the remote box and repository B on the local box.  If this is the case any file that has been committed to repository A will not be on the repository B and vise versa.

When using the file sync tool to pull files across, we could possibly check repository B for any sha that is listed on the file_data, i

[2021-10-26 18:56] cullerton commented on #499
Alex had some issues using the get_localtime script.
It turned out that we didn't return a good enough value from `do_task_validate_only` for the rest of the validation to work.
This was an issue in email, get_email_data, and get_localtime scripts.
We now return the same type of object in `do_task` and `do_task_validate_only`.
When it makes sense, we actually call do_task.

[2021-10-27 14:24] calexh-sar opened #517 "Forwarded email missing logo"
A forwarded email in Mailtrap to alex@sartography.com did not display the UVA logo...

 ![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/1e05844e-1fee-4443-a4f4-5854b793ebc5)

although it was displayed in Mailtrap:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/fb27fb0f-9bec-4eeb-988d-5fb5b1da8344)

I have had problems with logos not displayin

[2021-10-27 14:25] calexh-sar commented on #493
No longer getting this error after enum refactor.

[2021-10-27 14:25] #493 closed, assigned to calexh-sar

[2021-10-28 17:33] calexh-sar opened #518 "hide_expression when enum has not been filled out no longer works"
An example of this is in the IDS Approval workflow in the Enter Staff Training User Task.  The StaffTrainingDetails text files should be hidden if the StaffTraining enum is blank, i.e., no selection made, or No is selected.  Before the enum refactor, `StaffTraining.value != "No" or StaffTraining.value == None` worked.  Now, `StaffTraining != "No" or StaffTraining == None` does not work.  the `Staf

[2021-11-01 14:50] danfunk opened #519 "Test Protocol Builder Locally"
Establish a direct connection to the Protocol Builder, and work with Alex to assure things work as expected when pulling data directly from the actual system.

[2021-11-01 14:51] #83 closed, assigned to nobody

[2021-11-01 14:53] danfunk opened #520 "Deploy Production Instance"

[2021-11-01 14:56] danfunk opened #521 "Directions for Deployment"
Write detailed directions on how to deploy the production instance.

- [x] Provide an example Docker Compose File
- [x] Include a list of all environment variables and their meanings.
- [ ] List all 3rd party tools that can be used to monitor the application.

[2021-11-01 15:01] danfunk opened #522 "Create Production Instance"
Stand up a production Instance of all services

This should be done on the new server.
It should be configured to point to an actual instance of Protocol Builder
It should also run off of the DEV docker containers.

[2021-11-02 14:05] cullerton commented on #487
Bug in validation.
We are looking for element documentation when it doesn't exist.
[Sentry error](https://sentry.io/organizations/sartography/issues/2761889579/?project=5260915&referrer=slack)

[2021-11-02 17:52] calexh-sar opened #523 "label_expression not displaying"
In the _Upload non-UVA Cover Sheet_ User Task of the _Protocol, Application & Cover Sheet_ workflow, the label_expressions for the `NonUVAIRB_StudyProtocolCoversheet` Form Field is not displaying.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/4cd35c08-335b-4980-a161-cc1a0d2b8995)

The `lab el_expression` is:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1

[2021-11-02 19:26] calexh-sar commented on #499
Working as designed with named argument `timestamp=`.  Mike is going to tweak so named argument is optional.

[2021-11-02 19:30] calexh-sar commented on #512
Working as designed

[2021-11-02 19:30] #512 closed, assigned to cullerton

[2021-11-03 01:14] calexh-sar opened #524 "Logging file updates"
WIP
- automatic
   - workflow (spec?) id
   - timestamp
   - each time a workflow is started
   - first time successful connection to PB (valid Review Type, etc.)
- random number to specify each workflow instance
   - changes with each _Start over_
- delete entries
   - auto on/off for _Start over_
- across studies, main dashboard

[2021-11-03 17:39] Leashys commented on #506
i think this works now with the new enum update. cant replicate

[2021-11-03 17:43] #402 closed, assigned to Leashys

[2021-11-04 17:50] calexh-sar opened #525 "Change End Event button label"
Change the label on the button that appears when there is text in the ED of the End Event from _Return to Study menu_ to _Return to Study Dashboard_ to be consistent with the button in the upper left-hand of the page

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/578c6915-5227-43a1-83b7-7c060190ec55)

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f3

[2021-11-05 01:41] calexh-sar opened #526 "Save button not disabled when enum field is required and blank"
The Save button for a Form Field is not disabled if an enum is required has not been selected yet.  An example ofd this is in the IND workflow, where the IND 1 Holder Type is required and has not been selected yet:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/0a5f2200-5724-4609-a518-57ef3b38edec)

but the Save button is enabled:

![image.png](https://images.zenhubuse

[2021-11-05 04:01] calexh-sar opened #527 "Dates are not retaining value on returning to User Task"
Dates are not retaining their values if the user returns to a User Task by clicking it in the Nav.  If the date has no value_expression, it returns to null.  If there is a value_expression, it returns to that value.

An example of this can be found in the IBC Approval workflow.  In the _Enter Notification Date_ User Task, the value_expression displays the current date:

![image.png](https://images

[2021-11-05 12:37] calexh-sar opened #528 "Repeating section not showing data"
I figured out what was causing this.  This was an old workflow that included both group and repeat properties.  Removing the group property fixed the display issue.  I think this is still a bug, since we might want one or more groups within a repeating section.  So let's make that work.

In the RSC/HIRE workflow, the _Enter XRay_ User Task is a repeating section.  Information entered in a section

[2021-11-05 12:51] cullerton opened #529 "Surface additional information in logging scripts"
We store the task, workflow, study, and a timestamp when logging, but don't return this information to the user when they search the logs.

We should return all this info to the user when they search the logs.

This is related to [ticket 513](https://app.zenhub.com/workspaces/cr-connect-5f0613d95578fa0026063103/issues/sartography/cr-connect/513)

[2021-11-05 13:31] calexh-sar commented on #528
Same thing is happening in the CT User Task:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/76902d39-b4c3-4f64-9e60-ce11490d30dd)

[2021-11-05 14:03] calexh-sar opened #530 "Start over clears repeating sections"
Clicking the _Start over_ button without selecting the _Clear previously entered data_ checkbox removes all data from the repeating section.  In the RSC/HIRE workflow, data was entered in the X-ray repeating section...

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/c8f34e3d-0299-4c04-8838-bfd5e5dd86ef)

...and saved.

but was was gone, after clicking the _Start over_ b

[2021-11-05 14:51] calexh-sar commented on #530
Was starting over inside a parallel gateway,

[2021-11-05 14:51] #530 closed, assigned to Leashys

[2021-11-05 15:52] calexh-sar opened #531 "Larger font size in markdown_description overlaps Form Field"
Using the `<font size="3"> text </font>` HTML tag in a markdown_description resulted in an overlap of the Form Field and description area.  Is there anything that can be done to reduce/remove that overlap under this condition?

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/fb044764-d068-44ee-ac5b-b3f591bbf303)

[2021-11-05 18:10] calexh-sar opened #532 "Add Study Search capability to Main Dashbaord"
Provide means to search for a study in the current tab by Study ID or some part of the Study Title.

[2021-11-05 19:14] calexh-sar opened #533 "Dashboard links"
On the Study Dashboard page
- Removed the _< Back_ link
- Add the hover message "Main Dashboard" for the Rotunda/CRConnect link to the Main Dashboard.
- Shift the Study ID, PI Name and Study Title to the left

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/d531d8ae-adbc-43dd-87f0-49cd013a9837)

On the Study Menu page
- Add the hover message "Main Dashboard" for the Rotu

[2021-11-08 17:30] Leashys commented on #526
fixed in configuration of the DMN tables @calexh-sar

[2021-11-08 18:02] calexh-sar commented on #526
Working as designed with insights from @Leashys

[2021-11-08 18:02] #526 closed, assigned to Leashys

[2021-11-08 18:39] danfunk opened #534 "Unknown BPMN"
We had a call activity that didn't exist, we should produce an error message that explains the problem, not this....

Workflow Validation Error
File: ids_waiver.bpmn
Task ID: Activity_Set_Approval_Request_Email
Failed to parse the Workflow Specification. Error is 'KeyError('Process_Emails') Source Details: bpmn:callActivity (id:Activity_Set_Approval_Request_Email), name 'Set Approval Request Email

[2021-11-08 20:33] Leashys commented on #531
Does the markdown description thing normally look like this? This is how it looks for me on testing

![Screenshot 2021-11-08 at 15-31-37 CRConnect.png](https://images.zenhubusercontent.com/605376307bf33b5036eb360b/06874889-d034-464d-89b8-46705cf660a1)

& is this better? Shouldn't the markdown description be a bit smaller anyways?

![Screenshot 2021-11-08 at 15-31-52 Research Ramp-Up Toolkit.png](h

[2021-11-08 21:20] #510 closed, assigned to danfunk

[2021-11-08 21:55] calexh-sar commented on #531
Per our discussion in Meet, keep the markdown_description font as it is now and we can use the tags to make it bigger or smaller as needed.

[2021-11-09 13:58] danfunk commented on #527
This says "enums", but it is describing an issue with "Dates"

[2021-11-09 14:00] danfunk opened #535 "Enumerations are not correctly handling the value_expression"

[2021-11-09 16:15] Leashys commented on #523
@calexh-sar i believe this was fixed by something dan did. let me know if this is still an issue for you anywhere :-)

[2021-11-09 16:19] Leashys commented on #528
Moving to icebox. For now i will write a new ticket that makes repeat + group a validation error. When we improve our form builder, this would be much more managable to accomplish :-)

[2021-11-09 16:20] Leashys opened #536 "Group + Repeating property validation"
For now, Group + Repeating properties should be invalidated.

[2021-11-09 16:43] Leashys commented on #527
@danfunk you do it please

[2021-11-09 17:07] calexh-sar commented on #523
@Leashys has the "something dan did" been released yet?

[2021-11-09 20:43] Leashys commented on #533
@calexh-sar For the second part, can I keep "Return to study dashboard" if they have not entered a study name (IE the study info has not been filled out yet) ?

[2021-11-09 20:48] Leashys commented on #523
@calexh-sar I believe so? This also seems to be fixed on testing. I believed it was fixed in the enum refactor rollout (in case there's issues in the future)

[2021-11-10 13:48] calexh-sar commented on #533
@Leashys we should always have a study name.  The default if the study short title has not been provided is the study title pulled from PB.

[2021-11-11 19:26] #295 closed, assigned to danfunk

[2021-11-11 21:08] calexh-sar opened #537 "issues Since UVA's LDAP update"
Since the UVA LDAP update:

1. Lookup seems to be much slower than before
2. Lookup by Computing ID does not work

[2021-11-11 21:38] calexh-sar commented on #533
@Leashys everything is looking good with one possible exception.  On the Study Menu page, the text _**< Return to Study Dashboard**_ shows up for a second or two and then is replace by the study title.  Is this by design or something that can be fixed so only the study title shows up?

[2021-11-11 21:54] calexh-sar commented on #531
Working as designed.

[2021-11-11 21:54] #531 closed, assigned to Leashys

[2021-11-11 21:57] calexh-sar commented on #536
Working as designed.

[2021-11-11 21:57] #536 closed, assigned to Leashys

[2021-11-11 22:00] calexh-sar commented on #525
Working as designed.

[2021-11-11 22:00] #525 closed, assigned to Leashys

[2021-11-11 22:03] calexh-sar commented on #527
Working as designed.

[2021-11-11 22:03] #527 closed, assigned to danfunk, Leashys

[2021-11-12 15:14] cullerton commented on #529
It turns out that we already surface all the information.
I will spend some time turning the scripts into a service, and allowing configurators more options when searching the logs.

[2021-11-15 13:56] Leashys commented on #533
@calexh-sar There's a different approach I can take to mitigate that. Will move this back to in progress and fix it

[2021-11-15 16:22] calexh-sar opened #538 "Full Study Title not displaying if Short Title has not been set"
If the short title has not been set:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/15cde345-30e4-4a40-8472-883c69331a24)

The full study title should be displayed in the Study Dashboard:
 ![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/96226c60-5b66-4548-904e-be20904d14c9)

And in any workflow:
![image.png](https://images.zenhubusercontent.co

[2021-11-15 16:25] calexh-sar opened #539 "Incorrect Personnel being displayed for PI"
The PI name being displayed is incorrect:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/1d4791ac-b38c-409a-9401-119b1ca5f591)

It should be:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/22f9a7c0-da11-449e-a465-24513dd67a4b)

Not
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/16910f9a-b56e-4154-badd-7b4f49737e48)

[2021-11-15 18:14] danfunk opened #540 "XSL Format not supported"
You can upload a file with an xls extension as a spreadsheet.  But we can only handle the more modern .xlsx format.  We should prevent people from uploading xls and if we happen to hit a file that is in the old format, we should produce a well worded error to let people know what is going on.

On the backend it bails out in build lookup table in lookup service- xls = ExcelFile(data_model.data, eng

[2021-11-15 18:24] danfunk opened #541 "A Better Data Pane"
The "Data Pane" or view of the task data on the right hand side of the screen when viewing a running workflow could definitely be better.  For instance it could:

1. Update with the model, rather than being a static view of how the data looked when it was sent form the backend.
2. Collapse.  The ability to collapse and expand the tree fully, or section by section.
3. Sort  /  Sort the data alphabe

[2021-11-15 21:39] Leashys commented on #537
@calexh-sar Dan is investigating this issue with Uva (thought id update it here)

[2021-11-16 15:08] Leashys commented on #518
This was fixed within some iteration of enum refactors. Documenting that the correct way to do this is `hide_expression` should be set to `StaffTraining == "No" or not StaffTraining` in this specific case. Generally, to use a hide_expression on page load, it should be set to `not Variable`

[2021-11-16 15:08] #518 closed, assigned to Leashys

[2021-11-16 16:34] Leashys opened #542 "Writing Tests to surround Formly pipe"
This is kind of a vague, general issue, but there should be tests in Sartography libraries around the Formly code. When we release changes, little properties often break or work unexpectedly. if we had simple tests around things like value_expression, repeat sections, autocomplete fields, etc., we could avoid some of that headache.

[2021-11-16 17:22] calexh-sar opened #543 "Configurator Constraints Update"
Update the UX/UI for the Configurator _Add Constraint_ feature so the user does not have to remember the Name of available contraints:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/b541b087-59d8-4c05-a987-10dc1e7fdc12)

Documented constraints are:
- All Form Field Types
  - required
- First Form Field of repeating section
  - repeat_required
- Form Field Type is strin

[2021-11-17 19:01] calexh-sar commented on #200
Working as designed,

[2021-11-17 19:01] #200 closed, assigned to Leashys

[2021-11-18 12:33] calexh-sar opened #544 "Missing Cancel Event"
The Modeler seems to be missing the ability to specify a Cancel Intermediate Event.  Somehow we were able to get one on a user task and it works as expected.  But I cannot transfer that Cancel Event to any other task type and need to add one to an expanded sub-process.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/a44c4642-4788-476b-a941-4def7efabbb6)

[2021-11-18 16:55] calexh-sar commented on #544
Closing ticket since team research found that the Cancel Event is only available on transaction sub-processes.

[2021-11-18 16:55] #544 closed, assigned to Leashys

[2021-11-19 03:53] calexh-sar opened #545 "User Task Cancel Event does not work inside Expanded Sub Process"
The User Task Cancel Event does not work if the User Task is inside an Expanded Sub Process.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/fb7f2f3e-eec4-46ad-9b48-bcba6c1e7b13)

[2021-11-19 04:12] calexh-sar opened #546 "Transaction Sub-Processes and Cancel Events"
When attempting to use a Transaction Sub-Process, the following validation error is thrown:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/c5ce0cb3-5321-4d0a-9b1f-e9f43ffb65b7)

The Transaction Sub-Process appear in the Modeler like this:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/9446100f-0e1e-420d-955e-2da035e97f23)

and BPMN Spec det

[2021-11-19 19:24] calexh-sar commented on #533
@Leashys with the bounce Dan did just a while ago, looks like we might have regressed on this.![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/36f044b1-1641-4af7-850b-467a8c9194b6)

[2021-11-22 13:23] calexh-sar opened #547 "Associates Validation Error"
I have a Script Task in the Email Library workflow (and in Alex's Test under get_associates) which runs in the app without error, but returns the following validation error:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/096745e5-9cc3-4437-adde-5ee801f3e69e)

The validation data looks like this:
[code]
The data when running the app looks like this:
[code]

[2021-11-23 03:49] calexh-sar opened #548 "Workflow Status Script"
Provide a script that can be used to determine if any workflow in a study has not been started, in progress or complete.  This will be used to determine when the study files are ready to be zipped for submission to the IRB for pre-review.

[2021-11-26 01:40] calexh-sar opened #549 "Swap Task and Workflow Names"
To better display the hierarchical order, swap the display of the Task and Workflow names.  Keep the font size as it is currently.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/a3f34a6c-357e-47cb-85e3-f27329706c8b)

[2021-11-26 16:05] calexh-sar opened #550 "Groups within a Repeating Section"
Currently we do not support having groups within a repeating section.  Work on this ticket is to investigate the LOE to make this possible and if not more than 2-3 days of developer effort, do so and remove the validation error that was added in ticket #536.  If not, add notes to this ticket indicating what was discovered and an estimate on how much additional time will be needed.

[2021-11-26 18:24] calexh-sar opened #551 "Group hide not working"
In the Data Security Plan _Enter Outside of UVA Transmission Methods_ User Task there is an hide_expression for the field and repeat_hide_expression for the repeating section, both of which have the same Value expression: `not DateTransmittedOutside or DateTransmittedOutside == False`

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/f5e077dc-49b7-4403-8a13-4d7c9919768b)

[2021-11-29 14:50] calexh-sar opened #552 "delete_file error"
In the _Set Approval Response Outcome_ Script Task in the IDS Waiver workflow, the code:

[code]
throws this error:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/bceb9453-b21e-4a85-b4fc-b58de5dcc054)

[2021-11-29 14:59] calexh-sar commented on #552
Mike, I figured out what was going on here and nothing to fix.

[2021-11-29 14:59] #552 closed, assigned to cullerton

[2021-11-29 18:59] calexh-sar opened #553 "Don't load Form data"
Add the ability to designate that a form should not load previously saved Firm Field data on reload.   Reload states would include _Start over_ and if the workflow returns to that User Task.  All default and value_expression values should still be valid.

[2021-11-29 21:54] calexh-sar opened #554 "Post Submission"
WIP
After submit for  pre-review workflow is complete, check for the following IRB updates and update CRC2 as noted:

- When IRB_ADMINISTRATIVE_REVIEWER: is populated in IRB_info, change CRC2 Study Status to 'Pre-Review'
  - Also log when
    - IRB Status is set to (30)<In PreReview New Protocol>
  - if UVA not IRB of record
    - Also log when
      - IRB_REVIEW_TYPE: in IRB_Info is set and to wh

[2021-11-30 05:17] calexh-sar opened #555 "Intermediate Timer Catch Event in flow causes 500 error"
When i attempt to place an Intermediate Timer Catch Event in the normal flow like this:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/903ea205-c295-4c56-8186-6ea0c5cfa6b0)

this error is thrown while running the shield test and the app:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/c215edc9-01f8-4759-9f16-acc885e8434d)

[2021-11-30 13:27] calexh-sar opened #556 "Script(s) to get and set Study Status"
Provide a script or scripts to allow Configurator to get the current Study Status, e.g., _In Progress_, _In Pre-Review_, etc., and set it as it changes during Post Submission.

[2021-12-01 18:42] calexh-sar commented on #555
Working as designed,

[2021-12-01 18:42] #555 closed, assigned to essweine

[2021-12-02 02:46] calexh-sar opened #557 "Intermediate Timer Event in normal flow causes recursion error"
I left the intermediate_timer workflow in Alex's Tests running with a duration setting on the timer of one minute.  After a couple of hours it threw a [maximum recursion depth exceeded](https://sentry.io/organizations/sartography/issues/2829619380/?referrer=slack) error.

[2021-12-02 16:38] calexh-sar opened #558 "Start over Message Event"
When the _Start over_ button is clicked, we need the option to send notification to the user(s).  This could be done by selectively communicating with a Boundary Message Catch Event, if that Event is attached to the currently active User Task, Manual Task or Sub-Process.

We should also handle the scenario where a workflow has more than one Boundary Message Catch Event  assigned to a User Task, Ma

[2021-12-03 00:49] calexh-sar opened #559 "enum_value() not working in Sub-Process"
When I attempted to use the enum_value() script in a Script Task that was inside a Sub-Process, I received [this error](https://sentry.io/organizations/sartography/issues/2816176243/?referrer=slack).

[2021-12-03 16:52] calexh-sar opened #560 "Allow variables in description property"
I would be nice to be able to specify a variable, perhaps in Jinja {{ variable }} format like is done in Element Documentation, to specify a Form Field description.  Suggestion would be to either update markdown_description to handle this or add a third description property, e.g., jinja_description.

In a Slack discussion with @Leashys about this, she also mentioned that being able to use variable

[2021-12-06 13:38] cullerton opened #561 "New PB API endpoint"
There is a new API endpoint that returns the studies created by a user.

https://vpr-dev01.web.virginia.edu/webservices/crconnect/crconnect.cfc?method=StudyCreator&uva_id=kcm4zc

We need to use this new url instead of get_studies

[2021-12-06 13:46] calexh-sar commented on #499
@cullerton am I assuming correctly that the Configurator needs to know if the date and time being passed to this script is UTC?  Or maybe asked another way, is there anything script looks for to know if the time is UTC?

[2021-12-06 13:48] calexh-sar commented on #409
My understanding is this is now covered by Alicia's work to provide a unique process for adding a Library.

[2021-12-06 13:48] #409 closed, assigned to w4kpm

[2021-12-06 13:49] calexh-sar commented on #440
Working as designed.

[2021-12-06 13:49] #440 closed, assigned to danfunk

[2021-12-06 13:50] calexh-sar commented on #463
Working as designed.

[2021-12-06 13:50] #463 closed, assigned to cullerton

[2021-12-06 13:52] cullerton commented on #499
The timestamp should include the timezone.

[2021-12-06 14:33] calexh-sar commented on #499
Working as designed.

[2021-12-06 14:33] #499 closed, assigned to cullerton

[2021-12-06 19:32] cullerton commented on #561
Will need to edit this line in the docker-compose file for staging, testing, etc

      - PB_USER_STUDIES_URL=https://vpr-dev01.web.virginia.edu/webservices/crconnect/crconnect.cfc?method=user_studies&uva_id=%s

[2021-12-07 20:58] calexh-sar opened #562 "Additional Study Statuses"
Add the following Study Statues so they can be set by the set_study_status() script.

- Submitted for Pre-Review
- In Pre-Review
- Returned from Pre-Review
- Pre-Review Complete
- Agenda Date Set
- Approved
- Approved with Conditions
- Deferred
- Disapproved

None of these should be available as selections on the Main Dashboard page in the Actions for each Study:

![image.png](https://images.zenhu

[2021-12-08 01:43] calexh-sar commented on #449
Closing since deletetask_data() was replaced by delete_file().

[2021-12-08 01:43] #449 closed, assigned to cullerton

[2021-12-08 01:47] calexh-sar commented on #506
Working as designed,

[2021-12-08 01:47] #506 closed, assigned to Leashys

[2021-12-08 02:12] calexh-sar commented on #294
@Leashys I kinda remember that there was some philosophical discussion about this, but would like to discuss again the behavior of this field if the Constraint `required` is set to `True`.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/18b03983-2a52-4237-acd3-759648972ce0)

[2021-12-08 02:39] calexh-sar commented on #425
Not sure if I tested this correctly, but I configured an Intermediate Timer Event like

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/4e9393ec-c56a-4264-8d49-4e82993e2846)

in the dateparser_test workflow in Alex's Test and started it at 9:35pm.  Instead of pausing, the workflow executed immediately, as seen here:

![image.png](https://images.zenhubusercontent.com/5f06

[2021-12-08 02:51] calexh-sar commented on #479
Working as designed.

[2021-12-08 02:51] #479 closed, assigned to danfunk, Leashys

[2021-12-08 02:52] calexh-sar commented on #420
Working as designed.

[2021-12-08 02:52] #420 closed, assigned to Leashys

[2021-12-08 02:54] calexh-sar commented on #497
Working as designed.

[2021-12-08 02:54] #497 closed, assigned to Leashys

[2021-12-08 02:54] calexh-sar commented on #514
Working as designed.

[2021-12-08 02:54] #514 closed, assigned to cullerton, Leashys

[2021-12-08 03:08] calexh-sar commented on #523
Working as designed.

[2021-12-08 03:08] #523 closed, assigned to Leashys

[2021-12-08 03:13] calexh-sar opened #563 "Return to Study Dashboard link disappears"
The Study (Short) Title link disappears occasionally.  Have been monitoring this for about a week, seems to occur less than 10% of the time, but have not been able to establish what triggers it.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/c23319f7-2489-43ec-a4de-fb0193b03e06)

[2021-12-08 03:15] calexh-sar commented on #547
Fixed.

[2021-12-08 03:15] #547 closed, assigned to nobody

[2021-12-08 12:48] calexh-sar commented on #425
I ran a second test with the following configuration:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/287b742b-fe4a-4135-b88e-edfd83a51f78)

which returned the following:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/a41f7e11-d751-40b4-af61-e787482af6a5)

From this I suspect that the Date Time Definition does not honor time and the datepars

[2021-12-08 13:40] cullerton commented on #425
@calexh-sar can you try something like

`parse('January 12, 2012 10:00 PM', settings={'TIMEZONE': 'US/Eastern'})`

[2021-12-08 13:57] calexh-sar commented on #425
Thanks, will do.  Pulling this ticket back for more testing a determination what, if anything needs to be done.

[2021-12-08 15:00] calexh-sar commented on #545
Closing this ticket since we are going with the message solution in ticket #558.

[2021-12-08 15:00] #545 closed, assigned to nobody

[2021-12-08 15:02] danfunk commented on #425
nice.  Would be good to raise an error quickly - require a timezone
perhaps, just to avoid people having issues in the future.

On Wed, Dec 8, 2021 at 8:57 AM calexh-sar ***@***.***> wrote:

[2021-12-08 15:22] cullerton commented on #562
@calexh-sar These should be displayed on the home page, right?
![Screen Shot Status column.png](https://images.zenhubusercontent.com/5fa55f08b2891e7cfdfd2ed0/e24f4f1d-5461-4b6c-9e9a-b3e57dc20821)

[2021-12-08 15:32] cullerton commented on #562
@calexh-sar If a study has one of these new statuses, they should **not** show up on the home page, correct?

[2021-12-08 15:40] calexh-sar commented on #562
@cullerton all Statuses should show up in the Status column on the Main Dashboard *home) page.  The ones being added should just not show up in the Actions column as options to manually set.

[2021-12-08 15:53] cullerton commented on #562
I was confusing these with Review Type that determines whether we display them :)

Some work will need to be done on the front end to display the new statuses.

[2021-12-08 15:59] calexh-sar opened #564 "Accommodate New Study Statuses in Main Dashbaord"
Per Mike's comment in ticket #562, update Main Dashboard as needed to accommodate new Study Statuses, which are:

- Submitted for Pre-Review
- In Pre-Review
- Returned from Pre-Review
- Pre-Review Complete
- Agenda Date Set
- Approved
- Approved with Conditions
- Deferred
- Disapproved

[2021-12-08 16:13] cullerton commented on #564
From the backend, these are returned all lower case, with underscores. I changed the dashes to underscores too.

[code]

[2021-12-08 18:02] cullerton opened #565 "Set up staging server for UVA testing"
Get the staging server ready for UVA folks to use for testing.

- make sure which branches are running
- set up envioronment variables (for PB API, at least)
- ?

[2021-12-09 03:15] calexh-sar commented on #553
Working as designed.

[2021-12-09 03:15] #553 closed, assigned to Leashys

[2021-12-09 03:23] calexh-sar commented on #562
Implemented as:

    submitted_for_pre_review = 'submitted_for_pre_review'
    in_pre_review = 'in_pre_review'
    returned_from_pre_review = 'returned_from_pre_review'
    pre_review_complete = 'pre_review_complete'
    agenda_date_set = 'agenda_date_set'
    approved = 'approved'
    approved_with_conditions = 'approved_with_conditions'
    deferred = 'deferred'
    disapproved = 'disapproved'

[2021-12-09 04:03] calexh-sar commented on #563
@Leashys haven't seen the link disappear since the latest release as of yet, but am seeing this occasionally:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/6c754cf5-9788-4125-87e8-f50c9add7bd4)

[2021-12-09 15:55] danfunk opened #566 "Don't error out forever in scheduled tasks"
We have a scheduled task in CRConnect that is run every minute or so.  It calls WorkflowService's do_waiting() task.  This loops over all workflows that are in a waiting state.

If a workflow errors out, it get's left in a waiting state. So right now, we just grab those workflows too, and every minute fire them back up, just to get the error again.

Would be good to add an additional WorkflowStatu

[2021-12-09 16:49] calexh-sar commented on #395
@cullerton per our Slack conversion, this is currently not working.

[2021-12-09 20:32] calexh-sar opened #567 "Single Call Activity Causes Error"
A workflow with a single Call Activity:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/f8cdfd86-7553-49a6-9e96-cd1d094024e1)

causes this error:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/a2da6bc8-cdaa-4286-a5fe-cd4d1b2f3563)

Adding a Task before the Call Activity does not solve the issue, same error as above is thrown

![image.png](ht

[2021-12-10 00:11] calexh-sar opened #568 "Error Events"
Determine how an Intermediate Boundary Error Events are called by the task they are attached to.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/24f01a3b-7869-446d-8394-0b3ca69f7e87)

[2021-12-13 02:51] calexh-sar commented on #217
Received this error when attempting to delete the AppOmni Workflow Specification.  I deleted the three workflows in the Specification first.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/11000e2d-bf54-448a-abb4-936d4b22fefc)

And these Sentry errors were thrown: [PendingRollbackError](https://sentry.io/organizations/sartography/issues/2711011691/?referrer=slack) and [

[2021-12-13 13:45] cullerton commented on #395
Looked at this again, and it works correctly.
Not sure what happened the other day. It may have been human error.

Closing the ticket.

[2021-12-13 13:45] #395 closed, assigned to cullerton

[2021-12-13 15:48] calexh-sar opened #569 "Jinja 'splitlines' error"
Recently noticed that Sentry was displaying this [AttributeError](https://sentry.io/organizations/sartography/issues/2748529198/?referrer=slack) when running a Approval workflows.  Mike took at look at it and noted 'It looks like we pass it nothing as a string'.  Dan also noted:
[code]

This is not throwing a frontend error displayed to the user.

[2021-12-13 20:56] Leashys commented on #294
Note to self: We (me) is putting a validator on this, making the form only valid if the checkbox is checked. This is to replace the indeterminate state. It will now only be used in cases like above, where the user must check it

[2021-12-14 03:10] calexh-sar commented on #551
@Leashys has this been released?  If so, still now working.  If not, confused what was released related to "group hide" from Dan's list today (the ticket number seems to be incorrect).

[2021-12-14 12:53] calexh-sar opened #570 "LDAP Extract Library Error"
Attempts to add a Call Activity in the RSC/HIRE Approval (hire_approval) workflow which calls the LDAP Extract Library results in a [WorkflowTaskExecException](https://sentry.io/organizations/sartography/issues/2797648386/?referrer=slack) error `Activity_Extract_LDAP_Info: something you are referencing does not exist: "name 'ldap' is not defined".`

![image.png](https://images.zenhubusercontent.co

[2021-12-14 14:44] calexh-sar opened #571 "Remove Primary Process from Library Workflow Specifications"
Since the workflows in a Library Workflow Specification are called individually by their General ID, we should remove the concept of a Primary Process from the Library Workflow Specification.

[2021-12-14 14:54] calexh-sar commented on #217
@cullerton I just attempted to delete the Test Workflow Specification from Libraries and got this:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/df30ce24-2b06-49e0-ba84-2db64dee2479)
And these Sentry Errors: [PendingRollbackError](https://sentry.io/organizations/sartography/issues/2711011691/?referrer=slack) and [IntegrityError](https://sentry.io/organizations/sartogra

[2021-12-14 15:23] cullerton opened #572 "Move files to the filesystem"
While thinking about the Sync ticket, we decided to try moving the files to the filesystem.
This allows us to better take advantage of git and github for syncing.

[2021-12-15 03:13] calexh-sar commented on #556
@cullerton when I attempt to run the following code in the study_status.bpmn workflow in Alex's Tests
[code]
I received the following error message:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/7d9db8f1-037a-4db7-b97f-2ca8c47a46be)
and [WorkflowTaskExecException](https://sentry.io/organizations/sartography/issues/2674702619/?referrer=slack) Sentry error.

Also getting

[2021-12-15 14:33] calexh-sar opened #573 "Call Activity calling a Global Task"
The BPMN 2.0 spec introduced the concept of a [Call Activity calling a Global Task](https://www.omg.org/spec/BPMN/2.0/PDF#page=214).  Our current Modeler and Spiff do not support this feature.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/47ef4f6c-57f3-434a-80f3-a7a95885b1cd)

Work on this ticket includes both the Modeler and Spiff updates needed to support a Call Act

[2021-12-15 15:19] cullerton commented on #556
The files from those code changes are not on the testing server.

[code]

[2021-12-15 18:11] calexh-sar commented on #217
I was just able to successfully delete the Test Workflow Specification without error.

[2021-12-15 19:40] danfunk opened #574 "Make Erroring Workflows Visible somehow"
Workflows in a WAITING state are loaded and exectued as a part of a scheduled task every 5 minutes or so.
If we encounter an error trying to run the workflow, we mark it as "ERRORING" so we don't keep trying and getting an error every 5 minutes.  But then, how do we know that we have some failing workflows out there?

Right now, all of our errors are provided through the Sentry.  And this works pr

[2021-12-15 19:56] #537 closed, assigned to danfunk

[2021-12-20 01:32] calexh-sar commented on #562
set_study_progress_status(), get_study_progress_status(), set_study_status() and get_study_status() working as designed.

[2021-12-20 01:36] #562 closed, assigned to cullerton

[2021-12-20 01:38] calexh-sar opened #575 "Reset Study not working"
When attempting to reset a study using the Actions option on the Main Dashboard

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/59d044bc-3cd5-4706-b54d-6e24c5878654)

The resulting dialog box is mis-formatted and unresponsive.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/4f2cc7cb-9b53-42f7-9b68-33094b1d127d)

[2021-12-20 01:41] calexh-sar commented on #564
Working as designed.

[2021-12-20 01:41] #564 closed, assigned to Leashys

[2021-12-20 01:43] calexh-sar commented on #217
Not able to delete the Email Attachments and Email Groups Library Workflow Specifications.

[2021-12-20 01:47] calexh-sar commented on #551
Working as designed.

[2021-12-20 01:47] #551 closed, assigned to Leashys

[2021-12-20 01:48] calexh-sar commented on #294
Working as designed.

[2021-12-20 01:48] #294 closed, assigned to Leashys

[2021-12-20 01:54] calexh-sar commented on #570
Fixed

[2021-12-20 01:54] #570 closed, assigned to danfunk

[2021-12-20 19:13] Leashys opened #576 "Add jinja templating to Help wrapper"
Add jinja to the help property thing. By this, I mean you should be able to type jinja-style stuff into the 'help' property. Specifically, this would be great for using a dmn table to populate what goes in the help description with a variable

[2021-12-20 19:26] calexh-sar commented on #575
Fixed.

[2021-12-20 19:26] #575 closed, assigned to Leashys

[2021-12-21 13:51] calexh-sar opened #577 "Repeating Sections not working in Sub-Process"
The Repeating Section in the _Enter Committee Review_ User Task in the RSC/HIRE Approval workflow use to work fine but does not show up now.  There are no `hide_expression` Properties on any of the fields.

[2021-12-22 15:16] calexh-sar opened #578 "End Events Includes not working some of the time"
Twice now, once the previous day and just now, the include expression in the IDS Waiver End Event...

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/2a089088-63a7-49f3-8e01-73341c3f70d0)

...failed to load.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/3a3aa063-b58d-4d13-adca-025f5a5b1151)

This occurred several times last night and I left

[2021-12-22 15:29] calexh-sar commented on #578
Just ran the workflow again and the includes in the End Event loaded.

[2021-12-22 15:37] calexh-sar commented on #578
Just ran the workflow again, this time waiting for a reminder email to fire, and the includes were **not** displayed in the End Event.

[2021-12-22 19:08] calexh-sar opened #579 "Timer Event not working as Sub-Process Boundary Event"
The _Call Send Reminder Email_ Script Task in the RSC/HIRE Approval workflow is not being sent as expected.  This might be due to the Timer Boundary Event not executing since it is attached to a Sub-Process instead of a Task.  This does work on other workflows where it is attached to a Task.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/511868cc-3499-4db6-8618-3f28a63

[2021-12-23 12:54] calexh-sar opened #580 "Sort Libraries Alphabetically"
Although there is no need to be able to sort Libraries manually, they should be sorted alphabetically so they can be more easily located in the list.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/6af6388f-d999-46c1-87d3-a2e7f47d73b1)

[2021-12-28 14:28] calexh-sar opened #581 "Repeating Sections are not displaying"
After a recent release, repeating sections are not displayed.  Possibly something to do with the code that hides a group if all Form Fields in that group are hidden.  And example is the _Enter Computed Tomography_ User Task in the RSC/HIRE Approval workflow.

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/fd9e0cf0-6b39-440f-b0f2-f8acb318da35)

[2021-12-28 14:58] calexh-sar commented on #579
Hmm, this seems to be working now.  Going to close this ticket, will reopen if anything to the contrary is discovered.

[2021-12-28 14:58] #579 closed, assigned to essweine

[2021-12-30 04:25] calexh-sar commented on #217
Not able to delete the LDAP Extract Library Workflow Specification.

[2022-01-03 16:21] calexh-sar opened #582 "del() not working from Library"
In the IDS Waiver workflow, I have a Script task called _Do Clean-up Variables_.  When run, it successfully deletes the variables listed in that scrip, and example being `Approvers`:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/071b52b1-5f34-45d6-a32f-27d56b941253)

When I attempted to move this code the Approvals Library since this same code is applicable in all Res

[2022-01-05 21:33] calexh-sar commented on #582
Working as designed

[2022-01-05 21:33] #582 closed, assigned to danfunk

[2022-01-05 21:34] calexh-sar commented on #580
Working as designed

[2022-01-05 21:34] #580 closed, assigned to Leashys

[2022-01-05 21:35] calexh-sar commented on #577
Fixed.

[2022-01-05 21:35] #577 closed, assigned to danfunk

[2022-01-05 21:36] calexh-sar commented on #571
Working as designed.

[2022-01-05 21:36] #571 closed, assigned to Leashys

[2022-01-06 17:16] calexh-sar opened #583 "Catch Browser Back Button Click Event"
One item of feedback from Alpha testing was that users were prone to use the Browser Back button instead of the appropriate button on the application.  When in a workflow, we should catch that event and display something like:

[code]

[2022-01-10 13:49] danfunk opened #584 "Remove variables from task.data without errors"
I propose we create a script called clean() that will remove variables from the task.data if they exist.
It should loop through all the arguments provided and delete these keys from the task.data.
This is a replacement for the del() command which works, but will error out if the variable is undefined.

[2022-01-10 13:52] danfunk opened #585 "Validate for Libraries"
When validating a library, it should validate every workflow that uses that library, and provide a report of which workflows passed, which failed.

[2022-01-10 13:57] danfunk opened #586 "Help/Intro Page"
We should create a help page that you can open from anywhere in the site.  It should cover concepts we need everyone to understand about the system:

1. This is a workflow system - we want people to understand that tasks must be completed in order, and that actions can cause other things to lock and unlock.
2.  How help works through out the application.
3.  A brief video that demonstrates how peo

[2022-01-12 13:58] calexh-sar commented on #486
Working as designed

[2022-01-12 13:58] #486 closed, assigned to calexh-sar

[2022-01-12 20:09] Leashys opened #587 "Validation fires too late for URL inputs"
You can use any value for URL inputs in the default value, bypassing validation. We either need to add something to the backend to catch this, or fire the Formly validation at a later time. This might also apply to other inputs so look into that.

This is also true for: email

[2022-01-14 21:38] calexh-sar opened #588 "? inside of quotes should not be evaluated in DMN table"
Currently a `?` can be used as a variable for numeric evaluation.  The comment in the code is:
[code]

If a question mark is within quotes, it should be considered as part of that text and not evaluated as part of a numeric expression.

[2022-01-21 15:50] calexh-sar opened #589 "Workflow ID Script"
Logging automatically adds the `Workflow #` where the log event occurred:
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/b45efed8-35f9-4b1e-bbfe-c7b9da63f985)

Once that data is downloaded, I need a script that would return the Workflow ID and Name based on the `Workflow #`.
![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/8beaa82c-a35f-41d2-b8

[2022-01-21 19:38] cullerton opened #590 "Fix login so that dhf8r isn't always logged in"

[2022-01-21 20:00] calexh-sar opened #591 "Nav not accessible after workflow is complete"
Correct execution of User Tasks in a workflow is often dependent on variable settings prior to them receiving the token.  Because of this, using the Nav to go back while the workflow is in progress can usually be done without issue.  But going back after the workflow is complete can be problematic.  Because of this, disable the Nav after the workflow is complete.

An example of problems if the use

[2022-01-24 16:16] cullerton commented on #589
@calexh-sar Follow-up question.
We have the workflow id. You're looking for the workflow **spec** name and id, right?

[2022-01-24 18:14] calexh-sar opened #592 "Catch tasks with same name if one pulled from Call Activity"

[2022-01-24 18:47] cullerton commented on #588
@calexh-sar Where did you get the code comment above?

[2022-01-24 19:21] calexh-sar opened #593 "Configurator Titles"
The  titles show, in the Workflow Specification in the Configurator are not consistent;

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/8bb75fce-4e90-4e33-a839-576fc107d0f6)

What is labeled as Name is the ID and the Display Name is not shown:

![image.png](https://images.zenhubusercontent.com/5f0623d8a1d620a9f39301dc/de5da494-a8d2-4230-85eb-a6c0bd1403c5)

Change the cu

[2022-01-24 19:26] cullerton commented on #588
I found the code comment in SpiffWorkflow.

[2022-01-24 20:10] cullerton commented on #588
@danfunk  @calexh-sar
I can't reproduce this problem, although I may not understand it correctly.
I created a DMN table with a question mark in the input value. It worked, so I don't think it's a good test of this ticket.
Do you have an example where this caused a problem?

[2022-01-26 16:45] cullerton commented on #529
Dan turned this into a service when he added code to the front end for displaying logs.
Closing ticket.

[2022-01-26 18:41] cullerton opened #594 "Files to filesystem Phase 2"
If a file on the filesystem changes, does CR Connect recognize this, and use the new file data

[2022-01-26 19:38] cullerton commented on #594
Closing this ticket, because it worked.
We need to open a different ticket for when something besides file data changes.
Things like the category or filename